<%- include('./partials/header') %>
  <!-- Main Content -->
  <body class="ms-body ms-primary-theme ms-logged-out">
  <!-- <main class="body-content"> -->
 
    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper ms-auth">
      <div class="ms-auth-container">
       
        <div class="ms-auth-col">
          <div class="ms-auth-form">
            <form class="needs-validation" method="POST" action="/admin/signin" novalidate="">
              <h3>Login to Account</h3>
              <p>Please enter your username and password to continue</p>
              <div class="mb-3">
                <label for="validationCustom08">Username</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="validationCustom08" placeholder="Username" name="username" required>
                  <div class="invalid-feedback">Please provide a valid email.</div>
                </div>
              </div>
              <div class="mb-2">
                <label for="validationCustom09">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="validationCustom09" placeholder="Password" name="password" required>
                  <div class="invalid-feedback">Please provide a password.</div>
                </div>
              </div>
              <%- include('../partials/flashMessage') %>
              <button class="btn btn-primary mt-4 d-block w-100" type="submit">Sign In</button> 
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

<%- include('./partials/footer') %>