<%- include('./partials/header') %>
  <!-- Main Content -->
  <!-- <main class="body-content"> -->

    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper ms-auth">

      <div class="ms-auth-container">
        <div class="ms-auth-col">
          <div class="ms-auth-form">
            <form class="needs-validation" method="POST" name="/admin/signup" novalidate="">
              <h3>Create Account</h3>
              <p>Please enter personal information to continue</p>
              <div class="form-row">
                <div class="col-md-12 ">
                  <label for="validationCustom">Username</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="validationCustom" placeholder="Username" required name="username" >
                  </div>
                </div>
                <div class="col-md-12 ">
                  <label for="validationCustom03">Email Address</label>
                  <div class="input-group">
                    <input type="email" class="form-control" id="validationCustom03" placeholder="Email Address" required name="email" >
                    <div class="invalid-feedback">
                      Please provide a valid email.
                    </div>
                  </div>
                </div>
                <div class="col-md-12 ">
                  <label for="validationCustom04">Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" id="validationCustom04" placeholder="Password" required name="password" >
                    <div class="invalid-feedback">
                      Please provide a password.
                    </div>
                  </div>
                </div>
                <div class="col-md-12 ">
                  <label for="validationCustom04">Confirm Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" id="validationCustom04" placeholder="Confirm Password" required name="confirmPassword" >
                    <div class="invalid-feedback">
                      Please provide a password.
                    </div>
                  </div>
                </div>
              </div>
              <%- include('../partials/flashMessage') %>
              <button class="btn btn-primary mt-4 d-block w-100" type="submit">Create Account</button>
              
              <p class="mb-0 mt-3 text-center">Already have an account? <a class="btn-link" href="/admin">Login</a> </p>
            </form>

          </div>
        </div>
      </div>

    </div>

  </main>

<%- include('./partials/footer') %>