
    <footer class="footer">
        <div class="subscribe-now line">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-lg-5 col-md-6">
                <div class="subscribe-newsletter">
                  <div class="sub-text">
                    <p>Connect with us for update and offers.</p>
                  </div>
                  <form>
                    <input
                      class="input-subscribe"
                      name="newsletter"
                      type="text"
                      placeholder="Enter your email address"
                    />
                    <div class="subscribe-btn">
                      <div class="s-n-btn">
                        <button class="newsletter-btn btn-link">
                          Subscribe Now
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-2 col-md-3">
                <div class="language">
                  <form
                    method="post"
                    enctype="multipart/form-data"
                    id="form-language"
                  >
                    <div class="btn-group open">
                      <button
                        class="lang-btn l-btn-link dropdown-toggle-no-caret"
                        data-toggle="dropdown"
                        aria-expanded="true"
                      >
                        <i class="fas fa-globe"></i
                        ><span class="hidden-xs">English</span
                        ><i class="fas fa-caret-down"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="javascript:;">English</a></li>
                        <li><a href="javascript:;">Spanish</a></li>
                        <li><a href="javascript:;">Hindi</a></li>
                        <li><a href="javascript:;">Punjabi</a></li>
                      </ul>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="img-title">
                <a href="index.html"><img src="images/logo-2.svg" alt="" /></a>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                interdum leo at finibus ornare. Aliquam gravida condimentum neque,
                vel ultrices purus dignissim a.
              </p>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
              <div class="link-title">
                <h4>About Natto</h4>
                <ul class="links">
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="our_blog.html">Blog</a></li>
                  <li><a href="#">Developers</a></li>
                  <li><a href="#">Mobile Apps</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="link-title">
                <h4>Business</h4>
                <ul class="links">
                  <li><a href="add_restaurant.html">Add a Restaurant</a></li>
                  <li><a href="#">Buniess Order Guidelines</a></li>
                  <li><a href="#">Orders</a></li>
                  <li><a href="#">Book</a></li>
                  <li><a href="#">Trace</a></li>
                  <li><a href="#">Advertise</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="link-title">
                <h4>Partner With Us</h4>
                <ul class="links">
                  <li><a href="add_restaurant.html">For Restaurants</a></li>
                  <li><a href="add_driver.html">For Driver</a></li>
                </ul>
                <div class="social-btns">
                  <a href="#"
                    ><div class="social-btn soc-btn">
                      <i class="fab fa-facebook-f"></i></div
                  ></a>
                  <a href="#"
                    ><div class="social-btn soc-btn">
                      <i class="fab fa-twitter"></i></div
                  ></a>
                  <a href="#"
                    ><div class="social-btn soc-btn">
                      <i class="fab fa-instagram"></i></div
                  ></a>
                  <a href="#"
                    ><div class="social-btn soc-btn">
                      <i class="fab fa-linkedin-in"></i></div
                  ></a>
                  <a href="#"
                    ><div class="social-btn soc-btn">
                      <i class="fab fa-youtube"></i></div
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="privacy-cards">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="privacy-terms">
                  <ul>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Sitemap</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="cards">
                  <img src="images/cards.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="copyright-text">
                  <i class="far fa-copyright"></i>Copyright 2019
                  <a href="index.html">Natto</a> by Gambol. All Rights Reserved.
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
  
      <script
        data-cfasync="false"
        src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
      ></script>
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  
      <script src="assets/owlcarousel/owl.carousel.js"></script>
      <script src="js/owlslider.js"></script>
      <script src="js/bootstrap-select.js"></script>
      <script src="js/dashboard-tabs-reload.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>

      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"></script>
      
      <script>
        const socket = io('ws://localhost:3000');
        socket.on("sentForDelivery",(data) => {
            var user = <%- JSON.stringify(user) %>
            if(user._id == data.userId){
              setTimeout( () => {
                  window.location.reload(true);
              },2000) // page will refresh after 2 seconds
              $.notify("Order sent for delivery\n\Username :" + data.username + "\n\Address: " + data.address, {
                  autoHide: false,
                  className: "success"
              });
            }
        } )
        socket.on("cancelledOrder",(data) => {
            var user = <%- JSON.stringify(user) %>
            if(user._id == data.userId){
              setTimeout( () => {
                  window.location.reload(true);
              },2000) // page will refresh after 2 seconds
              $.notify("Order cancelled\n\Username :" + data.username + "\n\Address: " + data.address, {
                  autoHide: false,
                  className: "success"
              });
            }
        } )
        socket.on("confirmedDelivery",(data) => {
            var user = <%- JSON.stringify(user) %>
            if(user._id == data.userId){
              setTimeout( () => {
                  window.location.reload(true);
              },2000) // page will refresh after 2 seconds
              $.notify("Order has been delivered\n\Username :" + data.username + "\n\Address: " + data.address, {
                  autoHide: false,
                  className: "success"
              });
            }
        } )
        
    </script>

<script src="js/custom.js"></script>
<script src="js/thumbnail.slider.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-select.js"></script>
<script>
	$(document).ready(function(){
		$('#qty_input').prop('disabled', true);
		$('#plus-btn').click(function(){
    	$('#qty_input').val(parseInt($('#qty_input').val()) + 1 );
    	    });
        $('#minus-btn').click(function(){
    	$('#qty_input').val(parseInt($('#qty_input').val()) - 1 );
    	if ($('#qty_input').val() == 0) {
			$('#qty_input').val(1);
		}

		});
	});
	</script>
    </body>
  
    <!-- Mirrored from gambolthemes.net/natto-new-demo/my_profile_dashbord.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2020 07:14:49 GMT -->
  </html>
  