<div class="topbar">
    <div class="container">
    <div class="row">
    <div class="col-md-4">
    <div class="topbar-left text-center text-md-left">
    </div>
    </div>
    <div class="col-md-8">
    <div class="topbar-right text-center text-md-right">
    <ul class="list-inline">
        <% if(user){ %> 
            <li><a href="#"><i class="fas fa-shopping-cart"></i>Food Orders <span class="badge badge-secondary">3</span></a></li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle-no-caret" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle"></i> <%= user.username %>  <i class="fas fa-caret-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
                    <a class="dropdown-item" href="/index"> My Profile</a>
                    <a class="dropdown-item" href="/logout"> Logout</a>    
                </div>
            </li>
        <% } %>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>