<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from gambolthemes.net/natto-new-demo/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2020 07:19:09 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link href="images/fav.png" rel="shortcut icon" type="image/x-icon" />
<title>Natto | Checkout </title>

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="css/mega.menu.css" rel="stylesheet">
<link href="css/thumbnail.slider.css" rel="stylesheet">
<link href="css/datepicker.css" rel="stylesheet">
<link href="css/bootstrap-select.css" rel="stylesheet">

<link rel="stylesheet" href="assets/owlcarousel/assets/owl.carousel.min.css">

<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>
<body oncontextmenu="return false;">

<header id="header" class="default">
<div class="topbar">
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="topbar-left text-center text-md-left">
<ul class="list-inline">
<li> <a href="contact.html"> Contact </a></li>
<li> <a href="about.html"> About Us </a></li>
<li> <a href="our_blog.html"> Blog </a></li>
<li> <a href="partner_with_us.html"> Become a Partner </a></li>
</ul>
</div>
</div>
<div class="col-md-8">
<div class="topbar-right text-center text-md-right">
<ul class="list-inline">
<li><a href="#"><i class="far fa-calendar-alt"></i>Table Bookings</a> </li>
<li><a href="#"><i class="far fa-bookmark"></i>Bookmarks <span class="badge badge-secondary">2</span></a></li>
<li><a href="#"><i class="fas fa-shopping-cart"></i>Food Orders <span class="badge badge-secondary">3</span></a></li>
<li class="nav-item dropdown">
<a class="dropdown-toggle-no-caret" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i>John Doe <i class="fas fa-caret-down"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
<a class="dropdown-item" href="my_profile_dashbord.html"> My Profile</a>
<a class="dropdown-item" href="#"> Bookmarks</a>
<a class="dropdown-item" href="#"> Booking Tables</a>
<a class="dropdown-item" href="#"> Find Friends</a>
<a class="dropdown-item" href="setting.html"> Setting</a>
<a class="dropdown-item" href="signin.html"> Logout</a>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu">
<div class="container">
<div class="row">
<div class="col-md-2 col-sm-12 col-xs-12">
<div class="menu-left text-center text-md-left">
<div class="logo-box">
<a href="index.html"><img src="images/logo.svg" alt=""></a>
</div>
</div>
</div>
<div class="col-md-10 col-sm-12 col-xs-12">
<div class="menu-items">
<nav class="navbar navbar-expand-lg navbar-light bg-light menu-right">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto nav-text">
 <li class="nav-item">
<a class="nav-link" href="index.html">Home </a>
</li>
<li class="nav-item">
<a class="nav-link" href="how_to_orders.html">How To Orders?</a>
</li>
<li class="nav-item">
<a class="nav-link" href="recipes.html">Recipes</a>
</li>
<li class="nav-item">
<a class="nav-link" href="partners.html">Partners</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="megaDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Pages <i class="fas fa-caret-down"></i></a>
<div class="dropdown-menu mega-menu dropdown-menu-right">
<div class="row">
<div class="col-md-3">
<a class="dropdown-item" href="about.html"> About us</a>
<a class="dropdown-item" href="recipe_details.html"> Recipes Detail View</a>
<a class="dropdown-item" href="upload_recipe.html"> Upload Recipe</a>
<a class="dropdown-item" href="partners.html"> Partners</a>
<a class="dropdown-item" href="restaurant_detail.html"> Restaurant Detail View</a>
<a class="dropdown-item" href="partner_with_us.html"> Become a Partner</a>
<a class="dropdown-item" href="add_restaurant.html"> Add Restaurant</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="add_driver.html"> Add Driver</a>
<a class="dropdown-item" href="meals.html"> Meals</a>
<a class="dropdown-item" href="meal_detail.html"> Meal Detail View</a>
<a class="dropdown-item" href="checkout.html"> Checkout</a>
<a class="dropdown-item" href="bill_slip.html"> Bill Slip</a>
<a class="dropdown-item" href="browse_places.html"> Browse Places</a>
<a class="dropdown-item" href="places_nearby.html"> Near Places</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="places_cafes.html"> Cafes & More</a>
<a class="dropdown-item" href="upcoming_events.html"> Upcoming Events</a>
<a class="dropdown-item" href="event_detail.html"> Event Detail View</a>
<a class="dropdown-item" href="user_profile_view.html"> User Profile View</a>
<a class="dropdown-item" href="my_profile_dashbord.html"> My Order Dashboard</a>
<a class="dropdown-item" href="restaurant_partner_dashbord.html"> Restaurant Partner Dashboard</a>
<a class="dropdown-item" href="driver_partner_dashbord.html"> Driver Partner Dashboard</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="setting.html"> My Setting</a>
<a class="dropdown-item" href="error_404.html"> Error 404</a>
<a class="dropdown-item" href="signin.html"> Login Now</a>
<a class="dropdown-item" href="faq.html"> FAQ</a>
<a class="dropdown-item" href="our_blog.html"> Our Blog</a>
<a class="dropdown-item" href="blog_detail.html"> Single Blog Detail View</a>
<a class="dropdown-item" href="contact.html"> Contact</a>
</div>
</div>
</div>
</li>
<li class="nav-item">
<a class="nav-link" href="browse_places.html">Browse Places</a>
</li>
</ul>
</div>
</nav>
<div class="icons-set">
<ul class="list-inline">
<li class="icon-items nav-item dropdown ">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown1">
<div class="notification-item">
<div class="search-details">
<form class="form-inline">
<input class="form-control " type="search" placeholder="Search" aria-label="Search">
<button class="s-btn btn-link " type="submit"><i class="fas fa-search"></i></button>
</form>
</div>
</div>
</div>
</li>
<li class="icon-items nav-item dropdown">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
<div class="notification-item">
<div class="property">
<ul>
<li><div class="setting"><a href="#">Setting</a></div></li>
<li><div class="clear"><a href="#">Clear</a></div></li>
</ul>
</div>
<div class="notification-details">
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-2.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Jassica William</h4>
<p>comment on your Video.</p>
<div class="comment-date">10 min ago</div>
</div>
</div>
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-3.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Congratulations!</h4>
<p>Your Order is Accepted.</p>
<div class="comment-date">
15 min ago
</div>
</div>
</div>
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-4.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Order Delivered!</h4>
<p>Your Order is Delivered.</p>
<div class="comment-date">20 min ago</div>
</div>
</div>
</div>
</div>
</div>
</li>
<li class="partner-btn">
<a href="partner_with_us.html" class="b-btn btn-link">Become a Partner</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</header>


<section class="title-bar">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="left-title-text">
<h3>Checkout</h3>
</div>
</div>
<div class="col-md-6">
<div class="right-title-text">
<ul>
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Checkout</li>
</ul>
</div>
</div>
</div>
</div>
</section>


<section class="all-partners">
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-8">
<div class="my-checkout">
<div class="table-responsive">
<table class="table  table-bordered">
<thead>
<tr>
<td class="td-heading">Meal</td>
<td class="td-heading">Qty</td>
<td class="td-heading">Price</td>
<td class="td-heading">Action</td>
</tr>
</thead>
<tbody>
<tr>
<td>
<div class="checkout-thumb">
<a href="meal_detail.html">
<img src="images/checkout/thumb-1.jpg" class="img-responsive" alt="thumb" title="thumb">
</a>
</div>
<div class="name">
<a href="meal_detail.html"><h4>Toasty Buns Burgur</h4></a>
<a href="restaurant_detail.html"><p>Restaurant Name</p></a>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
<span>4.5</span>
</div>
</div>
</td>
<td class="td-content">2</td>
<td class="td-content">$22.00</td>
<td><button class="remove-btn">Remove</button></td>
</tr>
</tbody>
<tbody>
<tr>
<td colspan="4">
<h3 class="text-right">Total <ins>$22.00</ins></h3>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6848.588137286094!2d75.8069355495411!3d30.878433570394723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a822f25912599%3A0xa51f780d31824240!2sShaheed+Bhagat+Singh+Nagar%2C+Ludhiana%2C+Punjab!5e0!3m2!1sen!2sin!4v1556363627043!5m2!1sen!2sin" style="border:0" allowfullscreen></iframe>
<div class="map-location-tooltip">
<div class="tooltip tooltip-main">
<span class="tooltip-item"></span>
<span class="tooltip-content">Food Location</span>
</div>
<div class="tooltip tooltip-main">
<span class="tooltip-item"></span>
<span class="tooltip-content">Your Location</span>
</div>
</div>
</div>
<div class="yf-location">
<ul>
<li><span><i class="fas fa-map-marker-alt"></i></span><ins>Your location</ins></li>
<li class="circles">
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
<i class="fas fa-circle"></i>
</li>
<li><span><i class="fas fa-map-marker-alt"></i></span><ins>Food location</ins></li>
</ul>
</div>
<div class="food-delivery-time">
<p>We will Deliver in 35 min <p>
</div>
<div class="checkout-details">
<div class="row">
<div class="col-md-6">
<div class="about-checkout">
<img src="images/checkout/icon-1.svg" alt="">
<h4>Your Information is Safe</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis at metus vitae porta.</p>
</div>
</div>
<div class="col-md-6">
<div class="about-checkout">
<img src="images/checkout/icon-2.svg" alt="">
<h4>Secure Checkout</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis at metus vitae porta.</p>
</div>
</div>
</div>
</div>
<div class="note">
<p><span>Note :</span>Order cancel in 5 minutes. Ut iaculis at metus vitae porta.</p>
</div>
</div>
<div class="col-lg-4 col-md-4">
<div class="right-address">
<h4>Address</h4>
<form>
<div class="form-group">
<input type="email" class="video-form" id="addressInput" placeholder="Enter Your Address">
</div>
<div class="form-group">
<select class="selectpicker" tabindex="-98">
<option value="0">State</option>
<option value="1">Punjab</option>
<option value="2">Delhi</option>
<option value="3">Rajasthan</option>
<option value="4">Bihar</option>
<option value="5">Mumbai</option>
<option value="6">Goa</option>
<option value="7">Banglore</option>
<option value="8">Utarpardesh</option>
<option value="9">Jammu & Kashmir</option>
<option value="10">Himachal</option>
</select>
</div>
<div class="form-group">
<select class="selectpicker" tabindex="-98">
<option value="0">City</option>
<option value="1">Ludhiana</option>
<option value="2">Mohali</option>
<option value="3">Firozpur</option>
<option value="4">Bathinda</option>
<option value="5">Patiala</option>
<option value="6">Moga</option>
<option value="7">jalandhar</option>
<option value="8">Amritsar</option>
<option value="9">Hosharpur</option>
<option value="10">Khana</option>
</select>
</div>
<div class="form-group">
<input type="text" class="video-form" id="inputZip" placeholder="Zip Code">
</div>
</form>
</div>
<div class="right-payment-method">
<h4>Payment Method</h4>
<div class="single-payment-method">
<div class="payment-method-name">
<div class="custom-control custom-radio">
<input type="radio" id="cashon" name="paymentmethod" value="cash" class="custom-control-input">
<label class="custom-control-label" for="cashon">Cash On Delivery</label>
</div>
</div>
<div class="payment-method-details" data-method="cash" style="">
<p>Cash on delivery (COD) available. Card/Net banking acceptance subject to device availability.</p>
</div>
</div>
<div class="single-payment-method">
<div class="payment-method-name">
<div class="custom-control custom-radio">
<input type="radio" id="directbank" name="paymentmethod" value="bank" class="custom-control-input">
<label class="custom-control-label" for="directbank">Credit/Debit Card</label>
</div>
</div>
<div class="payment-method-details" data-method="bank">
<form>
<div class="form-group">
<label for="cardNumber">Card Details</label>
<input type="text" class="video-form" id="cardNumber" name="cardNumber" placeholder="Card Number">
</div>
<div class="form-group">
<input type="text" class="video-form" id="cardHolder" name="cardHolder" placeholder="Holder Name">
</div>
<div class="row">
<div class="col-md-4 col-12 pm-right">
<div class="form-group">
<select class="selectpicker" tabindex="-98">
<option value="0">Month</option>
<option value="1">January</option>
<option value="2">February</option>
<option value="3">March</option>
<option value="4">April</option>
<option value="5">May</option>
<option value="6">June</option>
<option value="7">July</option>
<option value="8">August</option>
<option value="9">September</option>
<option value="10">October</option>
<option value="11">November</option>
<option value="12">December</option>
</select>
</div>
</div>
<div class="col-md-4 col-12 pm-left pm-right">
<div class="form-group">
<select class="selectpicker" tabindex="-98">
<option value="0">Year</option>
<option value="1">2019</option>
<option value="2">2020</option>
<option value="3">2021</option>
<option value="4">2022</option>
<option value="5">2023</option>
<option value="6">2024</option>
<option value="7">2025</option>
<option value="8">2026</option>
<option value="9">2027</option>
<option value="10">2028</option>
<option value="11">2029</option>
<option value="12">2030</option>
</select>
</div>
</div>
<div class="col-md-4 col-12 pm-left">
<div class="form-group">
<input type="text" class="video-form" id="cardCvv" name="cardCvv" placeholder="Cvv">
</div>
</div>
</div>
<div class="accepted-check">
<div class="accpet-checkbox">
<input type="checkbox" id="c101" name="cb">
<label for="c101">Agree to terms and conditions</label>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="right-contact-dt">
<h4>Confirm</h4>
<form>
<div class="form-group">
<div class="input-field">
<input type="Email" class="confirm-form" id="emailAddress" placeholder="Email Address">
<i class="far fa-envelope"></i>
</div>
</div>
<div class="form-group">
<div class="input-field">
<input type="tel" class="confirm-form" id="telNumber" placeholder="Phone Number">
<i class="fas fa-mobile-alt"></i>
</div>
</div>
</form>
</div>
<div class="promocode">
<h4>Promocode</h4>
<form>
<input class="coupon-input" name="newsletter" type="text" placeholder="Enter promo code">
<div class="subscribe-btn">
<div class="s-n-btn">
<button class="promocode-btn">Apply</button>
</div>
</div>
</form>
</div>
<div class="your-order">
<h4>Your Order</h4>
 <div class="order-d">
<div class="item-dt-left">
<span>Toasty Buns Burgers</span>
<p>2 X $11</p>
</div>
<div class="item-dt-right">
<p>$22.00</p>
</div>
</div>
<div class="order-d">
<div class="item-dt-left">
<span>Item Total</span>
</div>
<div class="item-dt-right">
<p>$22.00</p>
</div>
</div>
<div class="order-d">
<div class="item-dt-left">
<span>Promocode <a href="#">(Natto50)</a></span>
</div>
<div class="item-dt-right">
<p>- $11.00</p>
</div>
</div>
<div class="order-d">
<div class="item-dt-left">
<span>Taxes</span>
</div>
<div class="item-dt-right">
<p>$2.00</p>
</div>
</div>
<div class="order-d">
<div class="item-dt-left">
<span>Delivery Charges</span>
</div>
<div class="item-dt-right">
<p>Free</p>
</div>
</div>
<div class="order-d">
<div class="item-dt-left">
<span>Your Saving</span>
</div>
<div class="item-dt-right">
<p>$9.00</p>
</div>
</div>
<div class="total-bill">
<div class="total-bill-text">
<h5>Total</h5>
</div>
<div class="total-bill-payment">
<p>$13.00</p>
</div>
</div>
</div>
<div class="checkout-btn">
<button type="submit" class="chkout-btn btn-link">Checkout Now</button>
</div>
</div>
</div>
</div>
</section>


<footer class="footer">
<div class="subscribe-now line">
<div class="container">
<div class="row justify-content-between">
<div class="col-lg-5 col-md-6">
<div class="subscribe-newsletter">
<div class="sub-text">
<p>Connect with us for update and offers.</p>
</div>
<form>
<input class="input-subscribe" name="newsletter" type="text" placeholder="Enter your email address">
<div class="subscribe-btn">
<div class="s-n-btn">
<button class="newsletter-btn btn-link">Subscribe Now</button>
</div>
</div>
</form>
</div>
</div>
<div class="col-lg-2 col-md-3">
<div class="language">
<form method="post" enctype="multipart/form-data" id="form-language">
<div class="btn-group open">
<button class="lang-btn l-btn-link dropdown-toggle-no-caret" data-toggle="dropdown" aria-expanded="true">
<i class="fas fa-globe"></i><span class="hidden-xs">English</span><i class="fas fa-caret-down"></i>
</button>
<ul class="dropdown-menu">
<li><a href="javascript:;">English</a></li>
<li><a href="javascript:;">Spanish</a></li>
<li><a href="javascript:;">Hindi</a></li>
<li><a href="javascript:;">Punjabi</a></li>
</ul>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<div class="img-title">
<a href="index.html"><img src="images/logo-2.svg" alt=""></a>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum leo at finibus ornare.
Aliquam gravida condimentum neque, vel ultrices purus dignissim a. </p>
</div>
<div class="col-md-3 col-sm-12 col-xs-12">
<div class="link-title">
<h4>About Natto</h4>
<ul class="links">
<li><a href="about.html">About Us</a></li>
<li><a href="#">Careers</a></li>
<li><a href="our_blog.html">Blog</a></li>
<li><a href="#">Developers</a></li>
<li><a href="#">Mobile Apps</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
 <div class="link-title">
<h4>Business</h4>
<ul class="links">
<li><a href="add_restaurant.html">Add a Restaurant</a></li>
<li><a href="#">Buniess Order Guidelines</a></li>
<li><a href="#">Orders</a></li>
<li><a href="#">Book</a></li>
<li><a href="#">Trace</a></li>
<li><a href="#">Advertise</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<div class="link-title">
<h4>Partner With Us</h4>
<ul class="links">
<li><a href="add_restaurant.html">For Restaurants</a></li>
<li><a href="add_driver.html">For Driver</a></li>
</ul>
<div class="social-btns">
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-facebook-f"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-twitter"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-instagram"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-linkedin-in"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-youtube"></i></div></a>
</div>
</div>
</div>
</div>
</div>
<div class="privacy-cards">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="privacy-terms">
<ul>
<li><a href="#">Privacy</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Sitemap</a></li>
</ul>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="cards">
<img src="images/cards.png" alt="">
</div>
</div>
</div>
</div>
</div>
<div class="copyright">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12">
<div class="copyright-text">
<i class="far fa-copyright"></i>Copyright 2019 <a href="index.html">Natto</a> by Gambol. All Rights Reserved.
</div>
</div>
</div>
</div>
</div>
</footer>


<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<script src="assets/owlcarousel/owl.carousel.js"></script>
<script src="js/custom.js"></script>
<script src="js/thumbnail.slider.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-select.js"></script>
</body>

<!-- Mirrored from gambolthemes.net/natto-new-demo/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2020 07:19:12 GMT -->
</html>
