<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from gambolthemes.net/natto-new-demo/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2020 07:12:20 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link href="images/fav.png" rel="shortcut icon" type="image/x-icon" />
<title>Natto | Contact Us </title>

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="css/mega.menu.css" rel="stylesheet">
<link href="css/thumbnail.slider.css" rel="stylesheet">
<link href="css/datepicker.css" rel="stylesheet">
<link href="css/bootstrap-select.css" rel="stylesheet">

<link rel="stylesheet" href="assets/owlcarousel/assets/owl.carousel.min.css">

<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>
<body oncontextmenu="return false;">

<header id="header" class="default">
<div class="topbar">
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="topbar-left text-center text-md-left">
<ul class="list-inline">
<li> <a href="contact.html"> Contact </a></li>
<li> <a href="about.html"> About Us </a></li>
<li> <a href="our_blog.html"> Blog </a></li>
<li> <a href="partner_with_us.html"> Become a Partner </a></li>
</ul>
</div>
</div>
<div class="col-md-8">
<div class="topbar-right text-center text-md-right">
<ul class="list-inline">
<li><a href="#"><i class="far fa-calendar-alt"></i>Table Bookings</a> </li>
<li><a href="#"><i class="far fa-bookmark"></i>Bookmarks <span class="badge badge-secondary">2</span></a></li>
<li><a href="#"><i class="fas fa-shopping-cart"></i>Food Orders <span class="badge badge-secondary">3</span></a></li>
<li class="nav-item dropdown">
<a class="dropdown-toggle-no-caret" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i>John Doe <i class="fas fa-caret-down"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
<a class="dropdown-item" href="my_profile_dashbord.html"> My Profile</a>
<a class="dropdown-item" href="#"> Bookmarks</a>
<a class="dropdown-item" href="#"> Booking Tables</a>
<a class="dropdown-item" href="#"> Find Friends</a>
<a class="dropdown-item" href="setting.html"> Setting</a>
<a class="dropdown-item" href="signin.html"> Logout</a>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu">
<div class="container">
<div class="row">
<div class="col-md-2 col-sm-12 col-xs-12">
<div class="menu-left text-center text-md-left">
<div class="logo-box">
<a href="index.html"><img src="images/logo.svg" alt=""></a>
</div>
</div>
</div>
<div class="col-md-10 col-sm-12 col-xs-12">
<div class="menu-items">
<nav class="navbar navbar-expand-lg navbar-light bg-light menu-right">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto nav-text">
<li class="nav-item">
<a class="nav-link" href="index.html">Home </a>
</li>
<li class="nav-item">
<a class="nav-link" href="how_to_orders.html">How To Orders?</a>
</li>
<li class="nav-item">
<a class="nav-link" href="recipes.html">Recipes</a>
</li>
<li class="nav-item">
<a class="nav-link" href="partners.html">Partners</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="megaDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Pages <i class="fas fa-caret-down"></i></a>
<div class="dropdown-menu mega-menu dropdown-menu-right">
<div class="row">
<div class="col-md-3">
<a class="dropdown-item" href="about.html"> About us</a>
<a class="dropdown-item" href="recipe_details.html"> Recipes Detail View</a>
<a class="dropdown-item" href="upload_recipe.html"> Upload Recipe</a>
<a class="dropdown-item" href="partners.html"> Partners</a>
<a class="dropdown-item" href="restaurant_detail.html"> Restaurant Detail View</a>
<a class="dropdown-item" href="partner_with_us.html"> Become a Partner</a>
<a class="dropdown-item" href="add_restaurant.html"> Add Restaurant</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="add_driver.html"> Add Driver</a>
<a class="dropdown-item" href="meals.html"> Meals</a>
<a class="dropdown-item" href="meal_detail.html"> Meal Detail View</a>
<a class="dropdown-item" href="checkout.html"> Checkout</a>
<a class="dropdown-item" href="bill_slip.html"> Bill Slip</a>
<a class="dropdown-item" href="browse_places.html"> Browse Places</a>
<a class="dropdown-item" href="places_nearby.html"> Near Places</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="places_cafes.html"> Cafes & More</a>
<a class="dropdown-item" href="upcoming_events.html"> Upcoming Events</a>
<a class="dropdown-item" href="event_detail.html"> Event Detail View</a>
<a class="dropdown-item" href="user_profile_view.html"> User Profile View</a>
<a class="dropdown-item" href="my_profile_dashbord.html"> My Order Dashboard</a>
<a class="dropdown-item" href="restaurant_partner_dashbord.html"> Restaurant Partner Dashboard</a>
<a class="dropdown-item" href="driver_partner_dashbord.html"> Driver Partner Dashboard</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="setting.html"> My Setting</a>
<a class="dropdown-item" href="error_404.html"> Error 404</a>
<a class="dropdown-item" href="signin.html"> Login Now</a>
<a class="dropdown-item" href="faq.html"> FAQ</a>
<a class="dropdown-item" href="our_blog.html"> Our Blog</a>
<a class="dropdown-item" href="blog_detail.html"> Single Blog Detail View</a>
<a class="dropdown-item" href="contact.html"> Contact</a>
</div>
</div>
</div>
</li>
<li class="nav-item">
<a class="nav-link" href="browse_places.html">Browse Places</a>
</li>
</ul>
</div>
</nav>
<div class="icons-set">
<ul class="list-inline">
<li class="icon-items nav-item dropdown ">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown1">
<div class="notification-item">
<div class="search-details">
<form class="form-inline">
<input class="form-control " type="search" placeholder="Search" aria-label="Search">
<button class="s-btn btn-link " type="submit"><i class="fas fa-search"></i></button>
</form>
</div>
</div>
</div>
</li>
<li class="icon-items nav-item dropdown">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
<div class="notification-item">
<div class="property">
<ul>
<li><div class="setting"><a href="#">Setting</a></div></li>
<li><div class="clear"><a href="#">Clear</a></div></li>
</ul>
</div>
<div class="notification-details">
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-2.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Jassica William</h4>
<p>comment on your Video.</p>
<div class="comment-date">10 min ago</div>
</div>
</div>
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-3.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Congratulations!</h4>
<p>Your Order is Accepted.</p>
<div class="comment-date">
15 min ago
</div>
</div>
</div>
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-4.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Order Delivered!</h4>
<p>Your Order is Delivered.</p>
<div class="comment-date">20 min ago</div>
</div>
</div>
</div>
</div>
</div>
</li>
<li class="partner-btn">
<a href="partner_with_us.html" class="b-btn btn-link">Become a Partner</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</header>


<section class="title-bar">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="left-title-text">
<h3>Contact Us</h3>
</div>
</div>
<div class="col-md-6">
<div class="right-title-text">
<ul>
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
</ul>
</div>
</div>
</div>
</div>
</section>


<section class="contact-us">
<div class="contact-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3424.364781211289!2d75.81453061461437!3d30.87645488574378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a822f922427e3%3A0xff19eac2cb42723!2s2070%2C+Pakhowal+Rd%2C+Karnail+Singh+Nagar+Phase-II%2C+Karnail+Singh+Nagar%2C+Ludhiana%2C+Punjab+141013!5e0!3m2!1sen!2sin!4v1556636382296!5m2!1sen!2sin" style="border:0" allowfullscreen></iframe>
<div class="contact-location-tooltip">
<div class="tooltip-1 tooltip-main-1">
<span class="tooltip-item-1"></span>
<h6 class="tooltip-content-1">Natto Comapny</h6>
</div>
</div>
</div>
</section>
<section class="contact-us">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-12 col-12">
<div class="contact-heading">
<h1>Contact Information</h1>
</div>
<div class="contact-info">
<div class="row">
<div class="col-lg-6 col-md-6 col-12">
<div class="contact-item">
<img src="images/contact/icon-1.svg" alt="">
<h4>Address</h4>
<p>66 Town St - Suite 522 Newyork, United States, GA 11112</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<div class="contact-item">
<img src="images/contact/icon-2.svg" alt="">
<h4>Email Address</h4>
<p><a href="https://gambolthemes.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fcb29d88888893bc9b919d9590d29f9391">[email&#160;protected]</a><br><a href="https://gambolthemes.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f9b0979f96b997988d8d96d79a9694">[email&#160;protected]</a></p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<div class="contact-item">
<img src="images/contact/icon-3.svg" alt="">
<h4>Phone Number</h4>
<p>+2 123 456 789<br>+2 987 654 3210</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<div class="contact-item">
<img src="images/contact/icon-4.svg" alt="">
<h4>24 Support</h4>
<p><a href="https://gambolthemes.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="105a7f787e747f75767f657e74756250777d71797c3e737f7d">[email&#160;protected]</a><br><a href="https://gambolthemes.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4f052e3c3c262c2e2c2a200f28222e2623612c2022">[email&#160;protected]</a></p>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-12">
<div class="contact-heading">
<h1>Write To Us</h1>
</div>
<div class="contact-info">
<form method="POST" action="/contact">
<div class="row">
<div class="col-lg-6 col-md-6 col-12">
<div class="form-group">
<label for="userName">Name</label>
<input type="text" class="video-form" name="name" id="name" placeholder="Your Name">
</div>
</div>
<div class="col-lg-6 col-md-6 col-12">
<div class="form-group">
<label for="emailAddress">Email</label>
<input type="email" class="video-form" id="email" name="email" placeholder="Your Email">
</div>
</div>

<div class="col-lg-12 col-md-12 col-12">
<div class="form-group">
<label for="typeMessage">Message</label>
<textarea class="text-area" name="message" id="message" placeholder="Type Message"></textarea>
</div>
</div>
<div class="col-lg-12 col-md-12 col-12">
<button type="submit" class="contact-btn btn-link">Send Message</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</section>


<footer class="footer">
<div class="subscribe-now line">
<div class="container">
<div class="row justify-content-between">
<div class="col-lg-5 col-md-6">
<div class="subscribe-newsletter">
<div class="sub-text">
<p>Connect with us for update and offers.</p>
</div>
<form>
<input class="input-subscribe" name="newsletter" type="text" placeholder="Enter your email address">
<div class="subscribe-btn">
<div class="s-n-btn">
<button class="newsletter-btn btn-link">Subscribe Now</button>
</div>
</div>
</form>
</div>
</div>
<div class="col-lg-2 col-md-3">
<div class="language">
<form method="post" enctype="multipart/form-data" id="form-language">
<div class="btn-group open">
<button class="lang-btn l-btn-link dropdown-toggle-no-caret" data-toggle="dropdown" aria-expanded="true">
<i class="fas fa-globe"></i><span class="hidden-xs">English</span><i class="fas fa-caret-down"></i>
</button>
<ul class="dropdown-menu">
<li><a href="javascript:;">English</a></li>
<li><a href="javascript:;">Spanish</a></li>
<li><a href="javascript:;">Hindi</a></li>
<li><a href="javascript:;">Punjabi</a></li>
</ul>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<div class="img-title">
<a href="index.html"><img src="images/logo-2.svg" alt=""></a>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum leo at finibus ornare.
Aliquam gravida condimentum neque, vel ultrices purus dignissim a. </p>
</div>
<div class="col-md-3 col-sm-12 col-xs-12">
<div class="link-title">
<h4>About Natto</h4>
<ul class="links">
<li><a href="about.html">About Us</a></li>
<li><a href="#">Careers</a></li>
<li><a href="our_blog.html">Blog</a></li>
<li><a href="#">Developers</a></li>
<li><a href="#">Mobile Apps</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<div class="link-title">
<h4>Business</h4>
<ul class="links">
<li><a href="add_restaurant.html">Add a Restaurant</a></li>
<li><a href="#">Buniess Order Guidelines</a></li>
<li><a href="#">Orders</a></li>
<li><a href="#">Book</a></li>
<li><a href="#">Trace</a></li>
<li><a href="#">Advertise</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<div class="link-title">
<h4>Partner With Us</h4>
<ul class="links">
<li><a href="add_restaurant.html">For Restaurants</a></li>
<li><a href="add_driver.html">For Driver</a></li>
</ul>
<div class="social-btns">
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-facebook-f"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-twitter"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-instagram"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-linkedin-in"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-youtube"></i></div></a>
</div>
</div>
</div>
</div>
</div>
<div class="privacy-cards">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="privacy-terms">
<ul>
<li><a href="#">Privacy</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Sitemap</a></li>
</ul>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="cards">
<img src="images/cards.png" alt="">
</div>
</div>
</div>
</div>
</div>
<div class="copyright">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12">
<div class="copyright-text">
<i class="far fa-copyright"></i>Copyright 2019 <a href="index.html">Natto</a> by Gambol. All Rights Reserved.
</div>
</div>
</div>
</div>
</div>
</footer>


<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<script src="assets/owlcarousel/owl.carousel.js"></script>
<script src="js/custom.js"></script>
<script src="js/thumbnail.slider.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-select.js"></script>
</body>

<!-- Mirrored from gambolthemes.net/natto-new-demo/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2020 07:12:37 GMT -->
</html>
