<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from gambolthemes.net/natto-new-demo/meals.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2020 07:18:50 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link href="images/fav.png" rel="shortcut icon" type="image/x-icon" />
<title>Natto | Meals </title>

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="css/mega.menu.css" rel="stylesheet">

<link rel="stylesheet" href="assets/owlcarousel/assets/owl.carousel.min.css">

<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>
<body oncontextmenu="return false;">

<header id="header" class="default">
<div class="topbar">
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="topbar-left text-center text-md-left">
<ul class="list-inline">
<li> <a href="contact.html"> Contact </a></li>
<li> <a href="about.html"> About Us </a></li>
<li> <a href="our_blog.html"> Blog </a></li>
<li> <a href="partner_with_us.html"> Become a Partner </a></li>
</ul>
</div>
</div>
<div class="col-md-8">
<div class="topbar-right text-center text-md-right">
<ul class="list-inline">
<li><a href="#"><i class="far fa-calendar-alt"></i>Table Bookings</a> </li>
<li><a href="#"><i class="far fa-bookmark"></i>Bookmarks <span class="badge badge-secondary">2</span></a></li>
<li><a href="#"><i class="fas fa-shopping-cart"></i>Food Orders <span class="badge badge-secondary">3</span></a></li>
<li class="nav-item dropdown">
<a class="dropdown-toggle-no-caret" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i>John Doe <i class="fas fa-caret-down"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
<a class="dropdown-item" href="my_profile_dashbord.html"> My Profile</a>
<a class="dropdown-item" href="#"> Bookmarks</a>
<a class="dropdown-item" href="#"> Booking Tables</a>
<a class="dropdown-item" href="#"> Find Friends</a>
<a class="dropdown-item" href="setting.html"> Setting</a>
<a class="dropdown-item" href="signin.html"> Logout</a>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu">
<div class="container">
<div class="row">
<div class="col-md-2 col-sm-12 col-xs-12">
<div class="menu-left text-center text-md-left">
<div class="logo-box">
<a href="index.html"><img src="images/logo.svg" alt=""></a>
</div>
</div>
</div>
<div class="col-md-10 col-sm-12 col-xs-12">
<div class="menu-items">
<nav class="navbar navbar-expand-lg navbar-light bg-light menu-right">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto nav-text">
<li class="nav-item active">
<a class="nav-link" href="index.html">Home </a>
</li>
<li class="nav-item">
<a class="nav-link" href="how_to_orders.html">How To Orders?</a>
</li>
<li class="nav-item">
<a class="nav-link" href="recipes.html">Recipes</a>
</li>
<li class="nav-item">
<a class="nav-link" href="partners.html">Partners</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="megaDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Pages <i class="fas fa-caret-down"></i></a>
<div class="dropdown-menu mega-menu dropdown-menu-right">
<div class="row">
<div class="col-md-3">
<a class="dropdown-item" href="about.html"> About us</a>
<a class="dropdown-item" href="recipe_details.html"> Recipes Detail View</a>
<a class="dropdown-item" href="upload_recipe.html"> Upload Recipe</a>
<a class="dropdown-item" href="partners.html"> Partners</a>
<a class="dropdown-item" href="restaurant_detail.html"> Restaurant Detail View</a>
<a class="dropdown-item" href="partner_with_us.html"> Become a Partner</a>
<a class="dropdown-item" href="add_restaurant.html"> Add Restaurant</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="add_driver.html"> Add Driver</a>
<a class="dropdown-item" href="meals.html"> Meals</a>
<a class="dropdown-item" href="meal_detail.html"> Meal Detail View</a>
<a class="dropdown-item" href="checkout.html"> Checkout</a>
<a class="dropdown-item" href="bill_slip.html"> Bill Slip</a>
<a class="dropdown-item" href="browse_places.html"> Browse Places</a>
<a class="dropdown-item" href="places_nearby.html"> Near Places</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="places_cafes.html"> Cafes & More</a>
<a class="dropdown-item" href="upcoming_events.html"> Upcoming Events</a>
<a class="dropdown-item" href="event_detail.html"> Event Detail View</a>
<a class="dropdown-item" href="user_profile_view.html"> User Profile View</a>
<a class="dropdown-item" href="my_profile_dashbord.html"> My Order Dashboard</a>
<a class="dropdown-item" href="restaurant_partner_dashbord.html"> Restaurant Partner Dashboard</a>
<a class="dropdown-item" href="driver_partner_dashbord.html"> Driver Partner Dashboard</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="setting.html"> My Setting</a>
<a class="dropdown-item" href="error_404.html"> Error 404</a>
<a class="dropdown-item" href="signin.html"> Login Now</a>
<a class="dropdown-item" href="faq.html"> FAQ</a>
<a class="dropdown-item" href="our_blog.html"> Our Blog</a>
<a class="dropdown-item" href="blog_detail.html"> Single Blog Detail View</a>
<a class="dropdown-item" href="contact.html"> Contact</a>
</div>
</div>
</div>
</li>
<li class="nav-item">
<a class="nav-link" href="browse_places.html">Browse Places</a>
</li>
</ul>
</div>
</nav>
<div class="icons-set">
<ul class="list-inline">
<li class="icon-items nav-item dropdown ">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown1">
<div class="notification-item">
<div class="search-details">
<form class="form-inline">
<input class="form-control " type="search" placeholder="Search" aria-label="Search">
<button class="s-btn btn-link " type="submit"><i class="fas fa-search"></i></button>
</form>
</div>
</div>
</div>
</li>
<li class="icon-items nav-item dropdown">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
<div class="notification-item">
<div class="property">
<ul>
<li><div class="setting"><a href="#">Setting</a></div></li>
<li><div class="clear"><a href="#">Clear</a></div></li>
</ul>
</div>
<div class="notification-details">
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-2.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Jassica William</h4>
<p>comment on your Video.</p>
<div class="comment-date">10 min ago</div>
</div>
</div>
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-3.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Congratulations!</h4>
<p>Your Order is Accepted.</p>
<div class="comment-date">
15 min ago
</div>
</div>
</div>
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-4.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Order Delivered!</h4>
<p>Your Order is Delivered.</p>
<div class="comment-date">20 min ago</div>
</div>
</div>
</div>
</div>
</div>
</li>
<li class="partner-btn">
<a href="partner_with_us.html" class="b-btn btn-link">Become a Partner</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</header>


<section class="title-bar">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="left-title-text">
<h3>Meals</h3>
</div>
</div>
<div class="col-md-6">
<div class="right-title-text">
<ul>
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Meals</li>
</ul>
</div>
</div>
</div>
</div>
</section>


<section class="all-partners">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-4">
<div class="filters partner-bottom">
<div class="filter-heading">
<h3>Filters</h3>
</div>
<div class="accordion" id="accordionone">
<div class="location">
<button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Location</button>
<div id="collapseOne" class="collapse show" data-parent="#accordionone">
<div class="search-area">
<form>
<input class="search-area-input" name="search" type="text" placeholder="Search your area">
<div class="icon-btn">
<div class="cross-area-icon">
<i class="fas fa-crosshairs"></i>
</div>
</div>
</form>
</div>
<div class="filter-checkbox">
<p>
<input type="checkbox" id="c1" name="cb">
<label for="c1">All</label>
</p>
<p>
<input type="checkbox" id="c2" name="cb">
<label for="c2">Canterbury-Bankstown</label>
</p>
<p>
<input type="checkbox" id="c3" name="cb">
<label for="c3">Central Business District</label>
</p>
<p>
<input type="checkbox" id="c4" name="cb">
<label for="c4">Eastern Suburbs</label>
</p>
<p>
<input type="checkbox" id="c5" name="cb">
<label for="c5">Forest District</label>
</p>
<p>
<input type="checkbox" id="c6" name="cb">
<label for="c6">Greater Western Sydney</label>
</p>
<p>
<input type="checkbox" id="c7" name="cb">
<label for="c7">Hills District</label>
</p>
<p>
<input type="checkbox" id="c8" name="cb">
<label for="c8">Inner West</label>
</p>
<p>
<input type="checkbox" id="c9" name="cb">
<label for="c9"> Macarthur</label>
</p>
<p>
<input type="checkbox" id="c10" name="cb">
<label for="c10">Central Business</label>
</p>
<p>
<input type="checkbox" id="c11" name="cb">
<label for="c11">Main Market</label>
</p>
<p>
<input type="checkbox" id="c12" name="cb">
<label for="c12">Eastern</label>
</p>
</div>
</div>
</div>
</div>
<div class="accordion" id="accordiontwo">
<div class="location">
<button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Categories</button>
<div id="collapseTwo" class="collapse" data-parent="#accordiontwo">
<div class="filter-checkbox">
<p>
<input type="checkbox" id="c13" name="cb">
<label for="c13"> Breakfast</label>
</p>
<p>
<input type="checkbox" id="c14" name="cb">
<label for="c14">Lunch</label>
</p>
<p>
<input type="checkbox" id="c15" name="cb">
<label for="c15"> Dinner</label>
</p>
<p>
<input type="checkbox" id="c16" name="cb">
<label for="c16">Cafe's</label>
</p>
<p>
<input type="checkbox" id="c17" name="cb">
<label for="c17">Delivery</label>
</p>
</div>
</div>
</div>
</div>
<div class="accordion" id="accordionthree">
<div class="location">
<button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Cuisine</button>
<div id="collapseThree" class="collapse" data-parent="#accordionthree">
<div class="filter-checkbox">
<p>
<input type="checkbox" id="c18" name="cb">
<label for="c18">Pizza</label>
</p>
<p>
<input type="checkbox" id="c19" name="cb">
<label for="c19">Drinks & Beer Restaurants</label>
</p>
<p>
<input type="checkbox" id="c20" name="cb">
<label for="c20">Cakes & Desserts</label>
</p>
<p>
<input type="checkbox" id="c21" name="cb">
<label for="c21">Sushi</label>
</p>
<p>
<input type="checkbox" id="c22" name="cb">
<label for="c22">Fast Food</label>
</p>
<p>
<input type="checkbox" id="c23" name="cb">
<label for="c23">Shawarma</label>
</p>
<p>
<input type="checkbox" id="c24" name="cb">
<label for="c24">Fish</label>
</p>
<p>
<input type="checkbox" id="c25" name="cb">
<label for="c25">Lunch</label>
</p>
<p>
<input type="checkbox" id="c26" name="cb">
<label for="c26">Coffee Cafe’s</label>
</p>
<p>
<input type="checkbox" id="c27" name="cb">
<label for="c27">Cheese Tika</label>
</p>
<p>
<input type="checkbox" id="c28" name="cb">
<label for="c28">Samosa and Pakodas</label>
</p>
<p>
<input type="checkbox" id="c29" name="cb">
<label for="c29">Chinese</label>
</p>
</div>
</div>
</div>
</div>
<div class="accordion" id="accordionfive">
<div class="location">
<button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Restaurants offers</button>
<div id="collapseFive" class="collapse" data-parent="#accordionfive">
<div class="filter-checkbox">
<p>
<input type="checkbox" id="c39" name="cb">
<label for="c39">10% off</label>
</p>
<p>
<input type="checkbox" id="c40" name="cb">
<label for="c40">20% off</label>
</p>
<p>
<input type="checkbox" id="c41" name="cb">
<label for="c41">30% off</label>
</p>
<p>
<input type="checkbox" id="c42" name="cb">
<label for="c42">40% off</label>
</p>
<p>
<input type="checkbox" id="c43" name="cb">
<label for="c43">50% off</label>
</p>
<p>
<input type="checkbox" id="c44" name="cb">
<label for="c44">60% off</label>
</p>
<p>
<input type="checkbox" id="c45" name="cb">
<label for="c45">70% off</label>
</p>
<p>
<input type="checkbox" id="c46" name="cb">
<label for="c46">80% off</label>
</p>
</div>
</div>
</div>
</div>
<div class="accordion" id="accordionsix">
<div class="location">
<button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Rating</button>
<div id="collapseSix" class="collapse" data-parent="#accordionsix">
<div class="filter-checkbox">
<p>
<input type="checkbox" id="c47" name="cb">
<label for="c47" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
</p>
<p>
<input type="checkbox" id="c48" name="cb">
<label for="c48" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
</p>
<p>
<input type="checkbox" id="c49" name="cb">
<label for="c49" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
</p>
<p>
<input type="checkbox" id="c50" name="cb">
<label for="c50" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
</p>
<p>
<input type="checkbox" id="c51" name="cb">
<label for="c51" class="rating-color"><i class="fas fa-star"></i></label>
</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-9 col-md-8">
<div class="col-lg-12 col-md-12 m-left m-right">
<div class="all-meals-show">
<div class="new-heading">
<h1> All Meals </h1>
<div class="loc-title">
Meals In Your Area
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
<div class="all-meal">
<div class="top">
<a href="meal_detail.html"><div class="bg-gradient"></div></a>
<div class="top-img">
<img src="images/homepage/meals/img-1.jpg" alt="">
</div>
<div class="logo-img">
<img src="images/homepage/meals/logo-1.jpg" alt="">
</div>
<div class="top-text">
<div class="heading"><h4><a href="meal_detail.html">Bonn Burgur</a></h4></div>
<div class="sub-heading">
<h5><a href="restaurant_detail.html">Rooster</a></h5>
<p>$5.00</p>
</div>
</div>
</div>
<div class="bottom">
<div class="bottom-text">
<div class="delivery"><i class="fas fa-shopping-cart"></i>Delivery Free : Free</div>
<div class="time"><i class="far fa-clock"></i>Delivery Time : 30 Min</div>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<span>4.5</span>
<div class="comments"><a href="#"><i class="fas fa-comment-alt"></i>05</a></div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
<div class="all-meal">
<div class="top">
<a href="meal_detail.html"><div class="bg-gradient"></div></a>
<div class="top-img">
<img src="images/homepage/meals/img-2.jpg" alt="">
</div>
<div class="logo-img">
<img src="images/homepage/meals/logo-2.jpg" alt="">
</div>
<div class="top-text">
<div class="heading"><h4><a href="meal_detail.html">Two Burgurs</a></h4></div>
<div class="sub-heading">
<h5><a href="restaurant_detail.html">Chef House</a></h5>
<p>$5.00</p>
</div>
</div>
</div>
<div class="bottom">
<div class="bottom-text">
<div class="delivery"><i class="fas fa-shopping-cart"></i>Delivery Free : Free</div>
<div class="time"><i class="far fa-clock"></i>Delivery Time : 30 Min</div>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<span>4.5</span>
<div class="comments"><a href="#"><i class="fas fa-comment-alt"></i>05</a></div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
<div class="all-meal">
<div class="top">
<a href="meal_detail.html"><div class="bg-gradient"></div></a>
<div class="top-img">
<img src="images/homepage/meals/img-3.jpg" alt="">
</div>
<div class="logo-img">
<img src="images/homepage/meals/logo-3.jpg" alt="">
</div>
<div class="top-text">
<div class="heading"><h4><a href="meal_detail.html">Large Cheese Pizza...</a></h4></div>
<div class="sub-heading">
<h5><a href="restaurant_detail.html">Limon Resto</a></h5>
<p>$12.00</p>
</div>
</div>
</div>
<div class="bottom">
<div class="bottom-text">
<div class="delivery"><i class="fas fa-shopping-cart"></i>Delivery Free : Free</div>
<div class="time"><i class="far fa-clock"></i>Delivery Time : 30 Min</div>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<span>4.5</span>
<div class="comments"><a href="#"><i class="fas fa-comment-alt"></i>05</a></div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
<div class="all-meal">
<div class="top">
<a href="meal_detail.html"><div class="bg-gradient"></div></a>
<div class="top-img">
<img src="images/homepage/meals/img-4.jpg" alt="">
</div>
<div class="logo-img">
<img src="images/homepage/meals/logo-4.jpg" alt="">
</div>
<div class="top-text">
<div class="heading"><h4><a href="meal_detail.html">Hakka Noodles</a></h4></div>
<div class="sub-heading">
<h5><a href="restaurant_detail.html">Ledbery</a></h5>
<p>$5.00</p>
</div>
</div>
</div>
<div class="bottom">
<div class="bottom-text">
<div class="delivery"><i class="fas fa-shopping-cart"></i>Delivery Free : Free</div>
<div class="time"><i class="far fa-clock"></i>Delivery Time : 30 Min</div>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<span>4.5</span>
<div class="comments"><a href="#"><i class="fas fa-comment-alt"></i>05</a></div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
<div class="all-meal">
<div class="top">
<a href="meal_detail.html"><div class="bg-gradient"></div></a>
<div class="top-img">
<img src="images/homepage/meals/img-5.jpg" alt="">
</div>
<div class="logo-img">
<img src="images/homepage/meals/logo-5.jpg" alt="">
</div>
<div class="top-text">
<div class="heading"><h4><a href="meal_detail.html">Cappuccino Coffee</a></h4></div>
<div class="sub-heading">
<h5><a href="restaurant_detail.html">Organice cafe</a></h5>
<p>$5.00</p>
</div>
</div>
</div>
<div class="bottom">
<div class="bottom-text">
<div class="delivery"><i class="fas fa-shopping-cart"></i>Delivery Free : Free</div>
<div class="time"><i class="far fa-clock"></i>Delivery Time : 30 Min</div>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<span>4.5</span>
<div class="comments"><a href="#"><i class="fas fa-comment-alt"></i>05</a></div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
<div class="all-meal">
<div class="top">
<a href="meal_detail.html"><div class="bg-gradient"></div></a>
<div class="top-img">
<img src="images/homepage/meals/img-6.jpg" alt="">
</div>
<div class="logo-img">
<img src="images/homepage/meals/logo-6.jpg" alt="">
</div>
<div class="top-text">
<div class="heading"><h4><a href="meal_detail.html">Choclate Cake</a></h4></div>
<div class="sub-heading">
<h5><a href="restaurant_detail.html">Chef House</a></h5>
<p>$8.00</p>
</div>
</div>
</div>
<div class="bottom">
<div class="bottom-text">
<div class="delivery"><i class="fas fa-shopping-cart"></i>Delivery Free : Free</div>
<div class="time"><i class="far fa-clock"></i>Delivery Time : 30 Min</div>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<span>4.5</span>
<div class="comments"><a href="#"><i class="fas fa-comment-alt"></i>05</a></div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
<div class="all-meal">
<div class="top">
<a href="meal_detail.html"><div class="bg-gradient"></div></a>
<div class="top-img">
<img src="images/homepage/meals/img-7.jpg" alt="">
</div>
<div class="logo-img">
<img src="images/homepage/meals/logo-7.jpg" alt="">
</div>
<div class="top-text">
<div class="heading"><h4><a href="meal_detail.html"> Indian Dosa </a></h4></div>
<div class="sub-heading">
<h5><a href="restaurant_detail.html">Indian Resto</a></h5>
<p>$10.00</p>
</div>
</div>
</div>
<div class="bottom">
<div class="bottom-text">
<div class="delivery"><i class="fas fa-shopping-cart"></i>Delivery Free : Free</div>
<div class="time"><i class="far fa-clock"></i>Delivery Time : 30 Min</div>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<span>4.5</span>
<div class="comments"><a href="#"><i class="fas fa-comment-alt"></i>05</a></div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
<div class="all-meal">
<div class="top">
<a href="meal_detail.html"><div class="bg-gradient"></div></a>
<div class="top-img">
<img src="images/homepage/meals/img-8.jpg" alt="">
</div>
<div class="logo-img">
<img src="images/homepage/meals/logo-8.jpg" alt="">
</div>
<div class="top-text">
<div class="heading"><h4><a href="meal_detail.html">Double Tikki Burgur</a></h4></div>
<div class="sub-heading">
<h5><a href="restaurant_detail.html">Rooster</a></h5>
<p>$5.00</p>
</div>
</div>
</div>
<div class="bottom">
<div class="bottom-text">
<div class="delivery"><i class="fas fa-shopping-cart"></i>Delivery Free : Free</div>
<div class="time"><i class="far fa-clock"></i>Delivery Time : 30 Min</div>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<span>4.5</span>
<div class="comments"><a href="#"><i class="fas fa-comment-alt"></i>05</a></div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
<div class="all-meal">
<div class="top">
<a href="meal_detail.html"><div class="bg-gradient"></div></a>
<div class="top-img">
<img src="images/homepage/meals/img-1.jpg" alt="">
</div>
<div class="logo-img">
<img src="images/homepage/meals/logo-1.jpg" alt="">
</div>
<div class="top-text">
<div class="heading"><h4><a href="meal_detail.html">Bonn Burgur</a></h4></div>
<div class="sub-heading">
<h5><a href="restaurant_detail.html">Rooster</a></h5>
<p>$5.00</p>
</div>
</div>
</div>
<div class="bottom">
<div class="bottom-text">
<div class="delivery"><i class="fas fa-shopping-cart"></i>Delivery Free : Free</div>
<div class="time"><i class="far fa-clock"></i>Delivery Time : 30 Min</div>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<span>4.5</span>
<div class="comments"><a href="#"><i class="fas fa-comment-alt"></i>05</a></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12 col-md-12 ">
<div class="main-p-pagination m-top">
<nav aria-label="Page navigation example">
<ul class="pagination">
<li class="page-item">
<a class="page-link" href="#" aria-label="Previous">
<i class="fas fa-chevron-left"></i>
</a>
</li>
<li class="page-item"><a class="page-link active" href="#">1</a></li>
<li class="page-item"><a class="page-link" href="#">2</a></li>
<li class="page-item"><a class="page-link" href="#">...</a></li>
<li class="page-item"><a class="page-link" href="#">24</a></li>
<li class="page-item">
<a class="page-link" href="#" aria-label="Next">
<i class="fas fa-chevron-right"></i>
</a>
</li>
</ul>
</nav>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<footer class="footer">
<div class="subscribe-now line">
<div class="container">
<div class="row justify-content-between">
<div class="col-lg-5 col-md-6">
<div class="subscribe-newsletter">
<div class="sub-text">
<p>Connect with us for update and offers.</p>
</div>
<form>
<input class="input-subscribe" name="newsletter" type="text" placeholder="Enter your email address">
<div class="subscribe-btn">
<div class="s-n-btn">
<button class="newsletter-btn btn-link">Subscribe Now</button>
</div>
</div>
</form>
</div>
</div>
<div class="col-lg-2 col-md-3">
<div class="language">
<form method="post" enctype="multipart/form-data" id="form-language">
<div class="btn-group open">
<button class="lang-btn l-btn-link dropdown-toggle-no-caret" data-toggle="dropdown" aria-expanded="true">
<i class="fas fa-globe"></i><span class="hidden-xs">English</span><i class="fas fa-caret-down"></i>
</button>
<ul class="dropdown-menu">
<li><a href="javascript:;">English</a></li>
<li><a href="javascript:;">Spanish</a></li>
<li><a href="javascript:;">Hindi</a></li>
<li><a href="javascript:;">Punjabi</a></li>
</ul>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<div class="img-title">
<a href="index.html"><img src="images/logo-2.svg" alt=""></a>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum leo at finibus ornare.
Aliquam gravida condimentum neque, vel ultrices purus dignissim a. </p>
</div>
<div class="col-md-3 col-sm-12 col-xs-12">
<div class="link-title">
<h4>About Natto</h4>
<ul class="links">
<li><a href="about.html">About Us</a></li>
<li><a href="#">Careers</a></li>
<li><a href="our_blog.html">Blog</a></li>
<li><a href="#">Developers</a></li>
<li><a href="#">Mobile Apps</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<div class="link-title">
<h4>Business</h4>
<ul class="links">
<li><a href="add_restaurant.html">Add a Restaurant</a></li>
<li><a href="#">Buniess Order Guidelines</a></li>
<li><a href="#">Orders</a></li>
<li><a href="#">Book</a></li>
<li><a href="#">Trace</a></li>
<li><a href="#">Advertise</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<div class="link-title">
<h4>Partner With Us</h4>
<ul class="links">
<li><a href="add_restaurant.html">For Restaurants</a></li>
<li><a href="add_driver.html">For Driver</a></li>
</ul>
<div class="social-btns">
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-facebook-f"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-twitter"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-instagram"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-linkedin-in"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-youtube"></i></div></a>
</div>
</div>
</div>
</div>
</div>
<div class="privacy-cards">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="privacy-terms">
<ul>
<li><a href="#">Privacy</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Sitemap</a></li>
</ul>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="cards">
<img src="images/cards.png" alt="">
</div>
</div>
</div>
</div>
</div>
<div class="copyright">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12">
<div class="copyright-text">
<i class="far fa-copyright"></i>Copyright 2019 <a href="index.html">Natto</a> by Gambol. All Rights Reserved.
</div>
</div>
</div>
</div>
</div>
</footer>


<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<script src="assets/owlcarousel/owl.carousel.js"></script>
<script src="js/owlslider.js"></script>
<script src="js/custom.js"></script>
</body>

<!-- Mirrored from gambolthemes.net/natto-new-demo/meals.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2020 07:18:50 GMT -->
</html>
