<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from gambolthemes.net/natto-new-demo/meal_detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2020 07:18:50 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link href="images/fav.png" rel="shortcut icon" type="image/x-icon" />
<title>Natto | Meal Detail View </title>

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="css/mega.menu.css" rel="stylesheet">
<link href="css/thumbnail.slider.css" rel="stylesheet">
<link href="css/datepicker.css" rel="stylesheet">
<link href="css/bootstrap-select.css" rel="stylesheet">

<link rel="stylesheet" href="assets/owlcarousel/assets/owl.carousel.min.css">

<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>
<body oncontextmenu="return false;">

<header id="header" class="default">
<div class="topbar">
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="topbar-left text-center text-md-left">
<ul class="list-inline">
<li> <a href="contact.html"> Contact </a></li>
<li> <a href="about.html"> About Us </a></li>
<li> <a href="our_blog.html"> Blog </a></li>
<li> <a href="partner_with_us.html"> Become a Partner </a></li>
</ul>
</div>
</div>
<div class="col-md-8">
<div class="topbar-right text-center text-md-right">
<ul class="list-inline">
<li><a href="#"><i class="far fa-calendar-alt"></i>Table Bookings</a> </li>
<li><a href="#"><i class="far fa-bookmark"></i>Bookmarks <span class="badge badge-secondary">2</span></a></li>
<li><a href="#"><i class="fas fa-shopping-cart"></i>Food Orders <span class="badge badge-secondary">3</span></a></li>
<li class="nav-item dropdown">
<a class="dropdown-toggle-no-caret" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i>John Doe <i class="fas fa-caret-down"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
<a class="dropdown-item" href="my_profile_dashbord.html"> My Profile</a>
<a class="dropdown-item" href="#"> Bookmarks</a>
<a class="dropdown-item" href="#"> Booking Tables</a>
<a class="dropdown-item" href="#"> Find Friends</a>
<a class="dropdown-item" href="setting.html"> Setting</a>
<a class="dropdown-item" href="signin.html"> Logout</a>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu">
<div class="container">
<div class="row">
<div class="col-md-2 col-sm-12 col-xs-12">
<div class="menu-left text-center text-md-left">
<div class="logo-box">
<a href="index.html"><img src="images/logo.svg" alt=""></a>
</div>
</div>
</div>
<div class="col-md-10 col-sm-12 col-xs-12">
<div class="menu-items">
<nav class="navbar navbar-expand-lg navbar-light bg-light menu-right">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
 <ul class="navbar-nav mr-auto nav-text">
<li class="nav-item active">
<a class="nav-link" href="index.html">Home </a>
</li>
<li class="nav-item">
<a class="nav-link" href="how_to_orders.html">How To Orders?</a>
</li>
<li class="nav-item">
<a class="nav-link" href="recipes.html">Recipes</a>
</li>
<li class="nav-item">
<a class="nav-link" href="partners.html">Partners</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="megaDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Pages <i class="fas fa-caret-down"></i></a>
<div class="dropdown-menu mega-menu dropdown-menu-right">
<div class="row">
<div class="col-md-3">
<a class="dropdown-item" href="about.html"> About us</a>
<a class="dropdown-item" href="recipe_details.html"> Recipes Detail View</a>
<a class="dropdown-item" href="upload_recipe.html"> Upload Recipe</a>
<a class="dropdown-item" href="partners.html"> Partners</a>
<a class="dropdown-item" href="restaurant_detail.html"> Restaurant Detail View</a>
<a class="dropdown-item" href="partner_with_us.html"> Become a Partner</a>
<a class="dropdown-item" href="add_restaurant.html"> Add Restaurant</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="add_driver.html"> Add Driver</a>
<a class="dropdown-item" href="meals.html"> Meals</a>
<a class="dropdown-item" href="meal_detail.html"> Meal Detail View</a>
<a class="dropdown-item" href="checkout.html"> Checkout</a>
<a class="dropdown-item" href="bill_slip.html"> Bill Slip</a>
<a class="dropdown-item" href="browse_places.html"> Browse Places</a>
<a class="dropdown-item" href="places_nearby.html"> Near Places</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="places_cafes.html"> Cafes & More</a>
<a class="dropdown-item" href="upcoming_events.html"> Upcoming Events</a>
<a class="dropdown-item" href="event_detail.html"> Event Detail View</a>
<a class="dropdown-item" href="user_profile_view.html"> User Profile View</a>
<a class="dropdown-item" href="my_profile_dashbord.html"> My Order Dashboard</a>
<a class="dropdown-item" href="restaurant_partner_dashbord.html"> Restaurant Partner Dashboard</a>
<a class="dropdown-item" href="driver_partner_dashbord.html"> Driver Partner Dashboard</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="setting.html"> My Setting</a>
<a class="dropdown-item" href="error_404.html"> Error 404</a>
<a class="dropdown-item" href="signin.html"> Login Now</a>
<a class="dropdown-item" href="faq.html"> FAQ</a>
<a class="dropdown-item" href="our_blog.html"> Our Blog</a>
<a class="dropdown-item" href="blog_detail.html"> Single Blog Detail View</a>
<a class="dropdown-item" href="contact.html"> Contact</a>
</div>
</div>
</div>
</li>
<li class="nav-item">
<a class="nav-link" href="browse_places.html">Browse Places</a>
</li>
</ul>
</div>
</nav>
<div class="icons-set">
<ul class="list-inline">
<li class="icon-items nav-item dropdown ">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown1">
<div class="notification-item">
<div class="search-details">
<form class="form-inline">
<input class="form-control " type="search" placeholder="Search" aria-label="Search">
<button class="s-btn btn-link " type="submit"><i class="fas fa-search"></i></button>
</form>
</div>
</div>
</div>
</li>
<li class="icon-items nav-item dropdown">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
<div class="notification-item">
<div class="property">
<ul>
<li><div class="setting"><a href="#">Setting</a></div></li>
<li><div class="clear"><a href="#">Clear</a></div></li>
</ul>
</div>
<div class="notification-details">
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-2.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Jassica William</h4>
<p>comment on your Video.</p>
<div class="comment-date">10 min ago</div>
</div>
</div>
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-3.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Congratulations!</h4>
<p>Your Order is Accepted.</p>
<div class="comment-date">
15 min ago
</div>
</div>
</div>
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-4.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Order Delivered!</h4>
<p>Your Order is Delivered.</p>
<div class="comment-date">20 min ago</div>
</div>
</div>
</div>
</div>
</div>
</li>
<li class="partner-btn">
<a href="partner_with_us.html" class="b-btn btn-link">Become a Partner</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</header>


<section class="title-bar">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="left-title-text">
<h3>Meal Detail View</h3>
</div>
</div>
<div class="col-md-6">
<div class="right-title-text">
<ul>
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item"><a href="meals.html">All Meals</a></li>
<li class="breadcrumb-item active" aria-current="page">Meal Detail View</li>
</ul>
</div>
</div>
</div>
</div>
</section>


<section class="all-partners">
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-8">
<div id="sync1" class="owl-carousel owl-theme">
<div class="item">
<img src="images/meal-detail/img-1.jpg" alt="">
</div>
 <div class="item">
<img src="images/meal-detail/img-2.jpg" alt="">
</div>
<div class="item">
<img src="images/meal-detail/img-3.jpg" alt="">
</div>
<div class="item">
<img src="images/meal-detail/img-4.jpg" alt="">
</div>
</div>
<div id="sync2" class="owl-carousel owl-theme">
<div class="item">
<img src="images/meal-detail/thumb-1.jpg" alt="">
</div>
<div class="item">
<img src="images/meal-detail/thumb-2.jpg" alt="">
</div>
<div class="item">
<img src="images/meal-detail/thumb-3.jpg" alt="">
</div>
<div class="item">
<img src="images/meal-detail/thumb-4.jpg" alt="">
</div>
</div>
<div class="resto-meal-dt">
<div class="resto-detail">
<div class="resto-picy">
<a href="restaurant_detail.html"><img src="images/restaurant-detail/logo-10.jpg" alt=""></a>
</div>
<!-- <div class="name-location">
<a href="restaurant_detail.html"><h1>Restaurant Name</h1></a>
<p><span><i class="fas fa-map-marker-alt"></i></span>Sidney, Australia</p>
</div> -->
</div>
<div class="right-side-btns">
<!-- <div class="bagde-dt"> -->
<!-- <div class="partner-badge">
Partner
</div> -->
<!-- </div> -->
<div class="resto-review-stars">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<span>4.5/5</span>
</div>
</div>
</div>
<div class="published-like-comments">
<div class="published-time">
<!-- <span><i class="far fa-calendar-alt"></i> Member since August 2018</span> -->
</div>
<div class="like-comments">
<ul>
<li>
<span class="views" data-toggle="tooltip" data-placement="top" title="Likes">
<i class="fas fa-heart"></i>
<ins>362</ins>
</span>
</li>
<li>
<span class="views" data-toggle="tooltip" data-placement="top" title="Comments">
<i class="fas fa-comment-alt"></i>
<ins>05</ins>
</span>
</li>
<!-- <li>
<span class="views" data-toggle="tooltip" data-placement="top" title="Views">
<i class="fas fa-eye"></i>
<ins>5k</ins>
</span>
</li> -->
<!-- <li> -->
<!-- <div class="btn-group social-share"> -->
<!-- <span class="dropdown-toggle-no-caret views" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="main" title="share"> -->
<!-- <i class="fas fa-share-alt"></i> -->
<!-- <ins>Share</ins></span>
<div class="dropdown-menu dropdown-menu-right">
<a href="#"><i class="fab fa-facebook-f"></i>Facebook</a>
<a href="#"><i class="fab fa-twitter"></i>Twitter</a>
<a href="#"><i class="fab fa-google-plus-g"></i>Google+</a>
<a href="#"><i class="fab fa-instagram"></i>Instagram</a>
<a href="#"><i class="fab fa-pinterest-p"></i>Pinterest</a>
<a href="#"><i class="fab fa-linkedin-in"></i>LinkedIn</a>
</div> -->
<!-- </div> -->
<!-- </li> -->
</ul>
</div>
</div>
<div class="all-tabs">
<ul class="nav nav-tabs" role="tablist">
<li class="nav-item" role="presentation">
<a href="#comments" class="nav-link active" aria-controls="comments" role="tab" data-toggle="tab">05 Comments</a>
</li>
<li class="nav-item" role="presentation">
<a href="#reviews" class="nav-link" aria-controls="reviews" role="tab" data-toggle="tab">03 Reviews</a>
</li>
</ul>
<div class="tab-content">
<div class="tab-pane active" role="tabpanel" id="comments">
<div class="comment-post">
<div class="post-items">
<div class="img-dp">
<i class="fas fa-user"></i>
</div>
<form>
<input type="text" class="post-input" name="post" placeholder="Write a comment">
<input class="submit-btn btn-link" type="submit" value="Post Comment">
</form>
</div>
</div>
<div class="main-comments">
<div class="comment-1">
<div class="user-detail-heading">
<a href="user_profile_view.html"><img src="images/recipe-details/comment-1.png" alt=""></a>
<h4> Rock Smith</h4>
</div>
<div class="reply-time">
<a href="#reply-comment">Reply</a>
<p><i class="far fa-clock"></i>12 hours ago</p>
</div>
<div class="comment-description">
<p>Morbi hendrerit ipsum vel feugiat maximus. Duis posuere justo neque, sit amet efficitur quam aliquam non. Integer gravida ex quis lacinia consectetur.</p>
</div>
</div>
<div class="reply-1">
<div class="user-detail-heading">
<a href="user_profile_view.html"><img src="images/recipe-details/reply-1.png" alt=""></a>
<h4> Rock Smith</h4>
</div>
<div class="reply-time">
<p><i class="far fa-clock"></i>12 hours ago</p>
</div>
<div class="comment-description">
<p><a href="user_profile_view.html">@RockSmith</a> Thank you</p>
</div>
</div>
<div class="reply-comment">
<div class="post-items">
<div class="reply-dp">
<a href="https://www.gambolthemes.net/natto-new-demo/my_dashboard.html"><img src="images/recipe-details/reply-1.png" alt=""></a>
</div>
<form>
<input type="text" class="reply-input" name="post" placeholder="Write a reply">
<input class="reply-btn btn-link" type="submit" value="Reply">
</form>
</div>
</div>
</div>
<div class="main-comments">
<div class="comment-1">
<div class="user-detail-heading">
<a href="user_profile_view.html"><img src="images/recipe-details/comment-2.png" alt=""></a>
<h4> Jassica William</h4>
</div>
<div class="reply-time">
<a href="#reply-comment">Reply</a>
<p><i class="far fa-clock"></i>12 hours ago</p>
</div>
<div class="comment-description">
<p>Morbi hendrerit ipsum vel feugiat maximus. Duis posuere justo neque, sit amet efficitur quam aliquam non. Integer gravida ex quis lacinia consectetur.</p>
</div>
</div>
</div>
<div class="main-comments">
<div class="comment-1">
<div class="user-detail-heading">
<a href="user_profile_view.html"><img src="images/recipe-details/comment-3.png" alt=""></a>
<h4> Jass Singh</h4>
</div>
<div class="reply-time">
<a href="#reply-comment">Reply</a>
<p><i class="far fa-clock"></i>12 hours ago</p>
</div>
<div class="comment-description">
<p>Morbi hendrerit ipsum vel feugiat maximus. Duis posuere justo neque, sit amet efficitur quam aliquam non. Integer gravida ex quis lacinia consectetur.</p>
</div>
</div>
</div>
<div class="main-comments">
<div class="comment-1">
<div class="user-detail-heading">
<a href="user_profile_view.html"><img src="images/recipe-details/comment-4.png" alt=""></a>
<h4> Johnson Smith</h4>
</div>
<div class="reply-time">
<a href="#reply-comment">Reply</a>
<p><i class="far fa-clock"></i>12 hours ago</p>
</div>
<div class="comment-description">
<p>Morbi hendrerit ipsum vel feugiat maximus. Duis posuere justo neque, sit amet efficitur quam aliquam non. Integer gravida ex quis lacinia consectetur.</p>
</div>
 </div>
</div>
<div class="main-comments">
<div class="comment-1">
<div class="user-detail-heading">
<a href="user_profile_view.html"><img src="images/recipe-details/comment-5.png" alt=""></a>
<h4> Joy Cutler</h4>
</div>
<div class="reply-time">
<a href="#reply-comment">Reply</a>
<p><i class="far fa-clock"></i>12 hours ago</p>
</div>
<div class="comment-description">
<p>Morbi hendrerit ipsum vel feugiat maximus. Duis posuere justo neque, sit amet efficitur quam aliquam non. Integer gravida ex quis lacinia consectetur.</p>
</div>
</div>
</div>
<div class="main-pagination">
<nav aria-label="Page navigation example">
<ul class="pagination">
<li class="page-item">
<a class="page-link" href="#" aria-label="Previous">
<i class="fas fa-chevron-left"></i>
</a>
</li>
<li class="page-item"><a class="page-link active" href="#">1</a></li>
<li class="page-item"><a class="page-link" href="#">2</a></li>
<li class="page-item">
<a class="page-link" href="#" aria-label="Next">
<i class="fas fa-chevron-right"></i>
</a>
</li>
</ul>
</nav>
</div>
</div>
<div class="tab-pane" role="tabpanel" id="reviews">
<div class="comment-post">
<div class="post-items">
<a href="https://www.gambolthemes.net/natto-new-demo/my_dashboard.html">
<div class="img-dp">
<i class="fas fa-user"></i>
</div>
</a>
<div class="select-rating">
<h4>Your Rating :</h4>
<ul class="rating-stars">
<li><i class="fas fa-star"></i></li>
<li><i class="fas fa-star"></i></li>
<li><i class="fas fa-star"></i></li>
<li><i class="fas fa-star"></i></li>
<li><i class="fas fa-star"></i></li>
</ul>
</div>
<form>
<input type="text" class="rating-input" name="post" placeholder="Please describe the reason for your rating to help the author">
<input class="rating-btn btn-link" type="submit" value="Save Review">
</form>
</div>
</div>
<div class="main-comments">
<div class="rating-1">
<div class="user-detail-heading">
<a href="user_profile_view.html"><img src="images/recipe-details/comment-5.png" alt=""></a>
<h4> Joy Cutler</h4><br>
<div class="rate-star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
<span>4.5</span>
</div>
</div>
<div class="reply-time">
<p><i class="far fa-clock"></i>12 hours ago</p>
</div>
<div class="comment-description">
<p>Morbi hendrerit ipsum vel feugiat maximus. Duis posuere justo neque, sit amet efficitur quam aliquam non. Integer gravida ex quis lacinia consectetur.</p>
</div>
</div>
</div>
<div class="main-comments bm-margin">
<div class="rating-1">
<div class="user-detail-heading">
<a href="user_profile_view.html"><img src="images/recipe-details/comment-3.png" alt=""></a>
<h4> Jass Singh</h4><br>
<div class="rate-star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
<span>4.5</span>
</div>
</div>
<div class="reply-time">
<p><i class="far fa-clock"></i>12 hours ago</p>
</div>
<div class="comment-description">
<p>Morbi hendrerit ipsum vel feugiat maximus. Duis posuere justo neque, sit amet efficitur quam aliquam non. Integer gravida ex quis lacinia consectetur.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4">
<div class="right-side">
<div class="new-heading t-bottom">
<h1>Toasty Buns Burgers</h1>
</div>
<div class="about-meal">
<h4> Description</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada libero ex, scelerisque suscipit orci tincidunt non. Nulla magna urna, accumsan ac turpis eget, tempor scelerisque sapien. Vivamus porttitor a enim id mattis. Duis volutpat felis sed massa dignissim luctus. Pellentesque a elit quis lacus finibus pellentesque.<span id="dots">..</span><span id="more"> Cras fringilla sollicitudin libero, eu commodo erat aliquet at. Donec euismod odio vitae venenatis blandit. Cras ut purus imperdiet massa viverra pellentesque. Curabitur feugiat luctus feugiat. </span></p>
<a href="javascript:;" onclick="myFunction()" id="readBtn">See All</a>
</div>
<div class="price">
<span>$11.00</span>
</div>
<div class="dt-detail">
<ul>
<li>
<div class="delivery"><i class="fas fa-shopping-cart"></i>Delivery Free : Free</div>
</li>
<li>
<div class="time"><i class="far fa-clock"></i>Delivery Time : 30 Min</div>
</li>
</ul>
</div>
<div class="Extra-option">
<h4> Extras - <ins>(Please select any option)</ins></h4>
<div class="non-veg">
<h6>Non Vegetarian</h6>
<ul class="food-bootom">
<li>
<p class="food-left">
<input type="checkbox" id="c1" name="cb">
<label for="c1">Non Veg Tikki</label>
</p>
<span>$2.00</span>
</li>
</ul>
</div>
<div class="non-veg j-top">
<h6>Vegetarian</h6>
<ul class="food-bootom">
<li>
<p class="food-left">
<input type="checkbox" id="c2" name="cb">
<label for="c2">Double Allu Tikki</label>
</p>
<span>$2.00</span>
</li>
<li>
<p class="food-left">
<input type="checkbox" id="c3" name="cb">
<label for="c3">Double Cheese</label>
</p>
<span>$2.00</span>
</li>
</ul>
</div>
</div>
<div class="Qty">
<h4> Qty</h4>
<div class="input-group">
<div class="input-group-prepend">
<button class="minus-btn btn-sm" id="minus-btn"><i class="fas fa-minus-square"></i></button>
</div>
<input type="number" id="qty_input" class="qty-control" value="1" min="1">
<div class="input-group-prepend">
<button class="add-btn btn-sm" id="plus-btn"><i class="fas fa-plus-square"></i></button>
</div>
</div>
</div>
<div class="total-cost">
<div class="total-text">
<h5>Total</h5>
</div>
<div class="total-price">
<p>$17.00</p>
</div>
</div>
<div class="order-now-check">
<button class="on-btn btn-link" onclick="">Order Now</button>
</div>
</div>
</div>
</div>
</div>
</section>


<footer class="footer">
<div class="subscribe-now line">
<div class="container">
<div class="row justify-content-between">
<div class="col-lg-5 col-md-6">
<div class="subscribe-newsletter">
<div class="sub-text">
<p>Connect with us for update and offers.</p>
</div>
<form>
<input class="input-subscribe" name="newsletter" type="text" placeholder="Enter your email address">
<div class="subscribe-btn">
<div class="s-n-btn">
<button class="newsletter-btn btn-link">Subscribe Now</button>
</div>
</div>
</form>
</div>
</div>
<div class="col-lg-2 col-md-3">
<div class="language">
<form method="post" enctype="multipart/form-data" id="form-language">
<div class="btn-group open">
<button class="lang-btn l-btn-link dropdown-toggle-no-caret" data-toggle="dropdown" aria-expanded="true">
<i class="fas fa-globe"></i><span class="hidden-xs">English</span><i class="fas fa-caret-down"></i>
</button>
<ul class="dropdown-menu">
<li><a href="javascript:;">English</a></li>
<li><a href="javascript:;">Spanish</a></li>
<li><a href="javascript:;">Hindi</a></li>
<li><a href="javascript:;">Punjabi</a></li>
</ul>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<div class="img-title">
<a href="index.html"><img src="images/logo-2.svg" alt=""></a>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum leo at finibus ornare.
Aliquam gravida condimentum neque, vel ultrices purus dignissim a. </p>
</div>
<div class="col-md-3 col-sm-12 col-xs-12">
<div class="link-title">
<h4>About Natto</h4>
<ul class="links">
<li><a href="about.html">About Us</a></li>
<li><a href="#">Careers</a></li>
<li><a href="our_blog.html">Blog</a></li>
<li><a href="#">Developers</a></li>
<li><a href="#">Mobile Apps</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<div class="link-title">
<h4>Business</h4>
<ul class="links">
<li><a href="add_restaurant.html">Add a Restaurant</a></li>
<li><a href="#">Buniess Order Guidelines</a></li>
<li><a href="#">Orders</a></li>
<li><a href="#">Book</a></li>
<li><a href="#">Trace</a></li>
<li><a href="#">Advertise</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<div class="link-title">
<h4>Partner With Us</h4>
<ul class="links">
<li><a href="add_restaurant.html">For Restaurants</a></li>
<li><a href="add_driver.html">For Driver</a></li>
</ul>
<div class="social-btns">
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-facebook-f"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-twitter"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-instagram"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-linkedin-in"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-youtube"></i></div></a>
</div>
</div>
</div>
</div>
</div>
<div class="privacy-cards">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="privacy-terms">
<ul>
<li><a href="#">Privacy</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Sitemap</a></li>
</ul>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="cards">
<img src="images/cards.png" alt="">
</div>
</div>
</div>
</div>
</div>
<div class="copyright">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12">
<div class="copyright-text">
<i class="far fa-copyright"></i>Copyright 2019 <a href="index.html">Natto</a> by Gambol. All Rights Reserved.
</div>
</div>
</div>
</div>
</div>
</footer>


<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<script src="assets/owlcarousel/owl.carousel.js"></script>
<script src="js/custom.js"></script>
<script src="js/thumbnail.slider.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-select.js"></script>
<script>
	$(document).ready(function(){
		$('#qty_input').prop('disabled', true);
		$('#plus-btn').click(function(){
    	$('#qty_input').val(parseInt($('#qty_input').val()) + 1 );
    	    });
        $('#minus-btn').click(function(){
    	$('#qty_input').val(parseInt($('#qty_input').val()) - 1 );
    	if ($('#qty_input').val() == 0) {
			$('#qty_input').val(1);
		}

		});
	});
	</script>
</body>

<!-- Mirrored from gambolthemes.net/natto-new-demo/meal_detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2020 07:19:09 GMT -->
</html>
