<%- include('./partials/authentication/header') %>
<body oncontextmenu="return false;">
  <header id="header" class="default">
    <div class="menu">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-12 col-xs-12">
            <div class="menu-left text-center text-md-left">
              <div class="logo-box">
                <a href="/"><img src="images/logo.svg" alt="" /></a>
              </div>
            </div>
          </div>
          <div class="col-md-10 col-sm-12 col-xs-12">
            <div class="menu-items">
              <div class="icons-set">
                <ul class="list-inline">
                  <li class="partner-btn">
                      <a href="/signup" class="b-btn btn-link"
                        >Sign Up</a
                      >
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

<section class="login_register">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 col-12">
        <h1>Login Now</h1>
        <div class="login-container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <form action="/signin" method="POST">
                  <div class="login-form">
                    <div class="login-logo">
                      <a href="index.html"><img src="images/login-register/logo.svg" alt=""></a>
                    </div>
                    <div class="social-btns">
                      <button class="facebook-btn"><i class="fab fa-facebook-f"></i>Continue with facebook</button>
                      <button class="google-btn"><i class="fab fa-google"></i>Continue with Google</button>
                    </div>
                    <div class="or">
                      <p> Or </p>
                    </div>
                    <div class="form-group">
                      <input type="text" class="video-form" id="emailphonenumber" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input type="password" class="video-form" id="yourPassword" name="password" placeholder="Password">
                    </div>
                    <%- include('./partials/flashMessage') %>
                    <button type="submit" class="login-btn btn-link">Login Now</button>
                    <div class="forgot-password">
                      <a href="#">Forgot Password?</a>
                      <p>Don’t have an account? <a href="/signup"><span style="color:#ffa803;">- Register Now</span></a></p>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./partials/authentication/footer') %>