<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from gambolthemes.net/natto-new-demo/signup.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2020 07:21:21 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="images/fav.png" rel="shortcut icon" type="image/x-icon" />
    <title>Natto | Register Now</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    <link href="css/mega.menu.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="assets/owlcarousel/assets/owl.carousel.min.css"
    />

    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body oncontextmenu="return false;">
    <header id="header" class="default">
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <div class="topbar-right text-center text-md-right">
                <ul class="list-inline">
                  <li class="nav-item dropdown">
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      aria-labelledby="accountDropdown"
                    ></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12">
              <div class="menu-left text-center text-md-left">
                <div class="logo-box">
                  <a href="index.html"><img src="images/logo.svg" alt="" /></a>
                </div>
              </div>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="menu-items">
                <div class="icons-set">
                  <ul class="list-inline">
                    <li class="partner-btn">
                        <a href="partner_with_us.html" class="b-btn btn-link"
                          >Login</a
                        >
                      </li>
              
                    <li class="partner-btn">
                      <a href="partner_with_us.html" class="b-btn btn-link"
                        >Become a Partner</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- <section class="title-bar">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="left-title-text">
</div>
</div>

</div>
</div>
</section> -->

    <section class="login_register">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-6 col-12">
            <h1>Register Now</h1>
            <div class="login-container">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                  <form>
                    <div class="login-form">
                      <div class="login-logo">
                        <a href="index.html"
                          ><img src="images/login-register/logo.svg" alt=""
                        /></a>
                      </div>
                      <div class="create-text">
                        <h4>Create Your Account</h4>
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="video-form"
                          id="fullName"
                          placeholder="Full Name"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="email"
                          class="video-form"
                          id="emailAddress"
                          placeholder="Email Address"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="password"
                          class="video-form"
                          id="password1"
                          placeholder="Password"
                        />
                      </div>
                      <div class="signup-checkbox text-left">
                        <input type="checkbox" id="c1" name="cb" />
                        <label for="c1"
                          >I agree to Natto's
                          <span>Terms of Service, Policy</span>and<span
                            >Content Policies</span
                          >.</label
                        >
                      </div>
                      <button type="submit" class="login-btn btn-link">
                        Register Now
                      </button>
                      <div class="forgot-password">
                        <p>
                          If you have an account?<a href="signin.html"
                            ><span style="color: #ffa803"> - Login Now</span></a
                          >
                        </p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="subscribe-now line">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-5 col-md-6">
              <div class="subscribe-newsletter">
                <div class="sub-text">
                  <p>Connect with us for update and offers.</p>
                </div>
                <form>
                  <input
                    class="input-subscribe"
                    name="newsletter"
                    type="text"
                    placeholder="Enter your email address"
                  />
                  <div class="subscribe-btn">
                    <div class="s-n-btn">
                      <button class="newsletter-btn btn-link">
                        Subscribe Now
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-2 col-md-3">
              <div class="language">
                <form
                  method="post"
                  enctype="multipart/form-data"
                  id="form-language"
                ></form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="img-title">
              <a href="index.html"><img src="images/logo-2.svg" alt="" /></a>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              interdum leo at finibus ornare. Aliquam gravida condimentum neque,
              vel ultrices purus dignissim a.
            </p>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="link-title">
              <h4>About Natto</h4>
              <ul class="links">
                <li><a href="about.html">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="our_blog.html">Blog</a></li>
                <li><a href="#">Developers</a></li>
                <li><a href="#">Mobile Apps</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="link-title">
              <h4>Business</h4>
              <ul class="links">
                <li><a href="add_restaurant.html">Add a Restaurant</a></li>
                <li><a href="#">Buniess Order Guidelines</a></li>
                <li><a href="#">Orders</a></li>
                <li><a href="#">Book</a></li>
                <li><a href="#">Trace</a></li>
                <li><a href="#">Advertise</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="link-title">
              <h4>Partner With Us</h4>
              <ul class="links">
                <li><a href="add_restaurant.html">For Restaurants</a></li>
                <li><a href="add_driver.html">For Driver</a></li>
              </ul>
              <div class="social-btns">
                <a href="#"
                  ><div class="social-btn soc-btn">
                    <i class="fab fa-facebook-f"></i></div
                ></a>
                <a href="#"
                  ><div class="social-btn soc-btn">
                    <i class="fab fa-twitter"></i></div
                ></a>
                <a href="#"
                  ><div class="social-btn soc-btn">
                    <i class="fab fa-instagram"></i></div
                ></a>
                <a href="#"
                  ><div class="social-btn soc-btn">
                    <i class="fab fa-linkedin-in"></i></div
                ></a>
                <a href="#"
                  ><div class="social-btn soc-btn">
                    <i class="fab fa-youtube"></i></div
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="privacy-cards">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="privacy-terms">
                <ul>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Sitemap</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="cards">
                <img src="images/cards.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="copyright-text">
                <i class="far fa-copyright"></i>Copyright 2019
                <a href="index.html">Natto</a> by Gambol. All Rights Reserved.
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="assets/owlcarousel/owl.carousel.js"></script>
    <script src="js/owlslider.js"></script>
  </body>

  <!-- Mirrored from gambolthemes.net/natto-new-demo/signup.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2020 07:21:21 GMT -->
</html>
