<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from gambolthemes.net/natto-new-demo/upload_recipe.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2020 07:16:00 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link href="images/fav.png" rel="shortcut icon" type="image/x-icon" />
<title>Natto | Upload Video </title>

<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="css/mega.menu.css" rel="stylesheet">

<link rel="stylesheet" href="assets/owlcarousel/assets/owl.carousel.min.css">

<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>
<body oncontextmenu="return false;">

<header id="header" class="default">
<div class="topbar">
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="topbar-left text-center text-md-left">
<ul class="list-inline">
<li> <a href="contact.html"> Contact </a></li>
<li> <a href="about.html"> About Us </a></li>
<li> <a href="our_blog.html"> Blog </a></li>
<li> <a href="partner_with_us.html"> Become a Partner </a></li>
</ul>
</div>
</div>
<div class="col-md-8">
<div class="topbar-right text-center text-md-right">
<ul class="list-inline">
<li><a href="#"><i class="far fa-calendar-alt"></i>Table Bookings</a> </li>
<li><a href="#"><i class="far fa-bookmark"></i>Bookmarks <span class="badge badge-secondary">2</span></a></li>
<li><a href="#"><i class="fas fa-shopping-cart"></i>Food Orders <span class="badge badge-secondary">3</span></a></li>
<li class="nav-item dropdown">
<a class="dropdown-toggle-no-caret" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i>John Doe <i class="fas fa-caret-down"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
<a class="dropdown-item" href="my_profile_dashbord.html"> My Profile</a>
<a class="dropdown-item" href="#"> Bookmarks</a>
<a class="dropdown-item" href="#"> Booking Tables</a>
<a class="dropdown-item" href="#"> Find Friends</a>
<a class="dropdown-item" href="setting.html"> Setting</a>
<a class="dropdown-item" href="signin.html"> Logout</a>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu">
<div class="container">
<div class="row">
<div class="col-md-2 col-sm-12 col-xs-12">
<div class="menu-left text-center text-md-left">
<div class="logo-box">
<a href="index.html"><img src="images/logo.svg" alt=""></a>
</div>
</div>
</div>
<div class="col-md-10 col-sm-12 col-xs-12">
<div class="menu-items">
<nav class="navbar navbar-expand-lg navbar-light bg-light menu-right">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto nav-text">
<li class="nav-item active">
<a class="nav-link" href="index.html">Home </a>
</li>
 <li class="nav-item">
<a class="nav-link" href="how_to_orders.html">How To Orders?</a>
</li>
<li class="nav-item">
<a class="nav-link" href="recipes.html">Recipes</a>
</li>
<li class="nav-item">
<a class="nav-link" href="partners.html">Partners</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="megaDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Pages <i class="fas fa-caret-down"></i></a>
<div class="dropdown-menu mega-menu dropdown-menu-right">
<div class="row">
<div class="col-md-3">
<a class="dropdown-item" href="about.html"> About us</a>
<a class="dropdown-item" href="recipe_details.html"> Recipes Detail View</a>
<a class="dropdown-item" href="upload_recipe.html"> Upload Recipe</a>
<a class="dropdown-item" href="partners.html"> Partners</a>
<a class="dropdown-item" href="restaurant_detail.html"> Restaurant Detail View</a>
<a class="dropdown-item" href="partner_with_us.html"> Become a Partner</a>
<a class="dropdown-item" href="add_restaurant.html"> Add Restaurant</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="add_driver.html"> Add Driver</a>
<a class="dropdown-item" href="meals.html"> Meals</a>
<a class="dropdown-item" href="meal_detail.html"> Meal Detail View</a>
<a class="dropdown-item" href="checkout.html"> Checkout</a>
<a class="dropdown-item" href="bill_slip.html"> Bill Slip</a>
<a class="dropdown-item" href="browse_places.html"> Browse Places</a>
<a class="dropdown-item" href="places_nearby.html"> Near Places</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="places_cafes.html"> Cafes & More</a>
<a class="dropdown-item" href="upcoming_events.html"> Upcoming Events</a>
<a class="dropdown-item" href="event_detail.html"> Event Detail View</a>
<a class="dropdown-item" href="user_profile_view.html"> User Profile View</a>
<a class="dropdown-item" href="my_profile_dashbord.html"> My Order Dashboard</a>
<a class="dropdown-item" href="restaurant_partner_dashbord.html"> Restaurant Partner Dashboard</a>
<a class="dropdown-item" href="driver_partner_dashbord.html"> Driver Partner Dashboard</a>
</div>
<div class="col-md-3">
<a class="dropdown-item" href="setting.html"> My Setting</a>
<a class="dropdown-item" href="error_404.html"> Error 404</a>
<a class="dropdown-item" href="signin.html"> Login Now</a>
<a class="dropdown-item" href="faq.html"> FAQ</a>
<a class="dropdown-item" href="our_blog.html"> Our Blog</a>
<a class="dropdown-item" href="blog_detail.html"> Single Blog Detail View</a>
<a class="dropdown-item" href="contact.html"> Contact</a>
</div>
</div>
</div>
</li>
<li class="nav-item">
<a class="nav-link" href="browse_places.html">Browse Places</a>
</li>
</ul>
</div>
</nav>
<div class="icons-set">
<ul class="list-inline">
<li class="icon-items nav-item dropdown ">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown1">
<div class="notification-item">
<div class="search-details">
<form class="form-inline">
<input class="form-control " type="search" placeholder="Search" aria-label="Search">
<button class="s-btn btn-link " type="submit"><i class="fas fa-search"></i></button>
</form>
</div>
</div>
</div>
</li>
<li class="icon-items nav-item dropdown">
<a class="nav-link dropdown-toggle-no-caret" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
<div class="notification-item">
<div class="property">
<ul>
<li><div class="setting"><a href="#">Setting</a></div></li>
<li><div class="clear"><a href="#">Clear</a></div></li>
</ul>
</div>
<div class="notification-details">
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-2.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Jassica William</h4>
<p>comment on your Video.</p>
<div class="comment-date">10 min ago</div>
</div>
</div>
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-3.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Congratulations!</h4>
<p>Your Order is Accepted.</p>
<div class="comment-date">
15 min ago
</div>
</div>
</div>
<div class="media">
<div class="media-left">
<a href="#"><img src="images/notification-img-4.png" alt=""></a>
</div>
<div class="media-body">
<h4 class="media-heading">Order Delivered!</h4>
<p>Your Order is Delivered.</p>
<div class="comment-date">20 min ago</div>
</div>
</div>
</div>
</div>
</div>
</li>
<li class="partner-btn">
<a href="partner_with_us.html" class="b-btn btn-link">Become a Partner</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</header>


<section class="title-bar">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="left-title-text">
<h3>Upload Video</h3>
</div>
</div>
<div class="col-md-6">
<div class="right-title-text">
<ul>
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Upload Video</li>
</ul>
</div>
</div>
</div>
</div>
</section>


<section class="upload-recipe-video">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12">
<div class="new-heading">
<h1> Upload Video </h1>
</div>
</div>
</div>
<form>
<div class="row justify-content-center">
<div class="col-lg-6 col-md-8 col-sm-10">
<div class="form-container">
<div class="form-group">
<label for="videoTitle">Title</label>
<input type="text" class="video-form" id="videoTitle" placeholder="Enter title here">
</div>
<div class="form-group">
<label for="videoDescription">Description</label>
<textarea class="text-area" id="videoDescription" placeholder="Description"></textarea>
</div>
<div class="form-group">
<label for="videoTags">Title</label>
<input type="search" class="video-form" id="videoTags" placeholder="Tags (e.g. Food, Burgur, Noodles)">
</div>
<div class="form-group">
<label for="file1">Upload Video File</label>
<div class="image-upload-wrap">
<input class="file-upload-input" id="file1" type='file' onchange="readURL(this);" accept="image/*" />
<div class="drag-text">
<i class="fas fa-cloud-upload-alt"></i>
<h4>Select files to upload</h4>
<p>or drag and drop video files</p>
</div>
</div>
</div>
<div class="form-group">
<label for="file">Video Thumbnail</label>
<div class="box">
<input type="file" id="file">
<label for="file">Custom Thumbnail</label>
<span>No choose file</span>
<p>(Maximum file size is 1 mb)</p>
</div>
</div>
<div class="sends">
<input type="submit" value="Upload Now" class=" btn-link">
</div>
</div>
</div>
</div>
</form>
</div>
</section>


<section class="over-restaurants">
<div class="container">
<div class="row">
<div class="col-md-9">
<div class="restaurants-links">
<h1>Choose From Over 15,000 Restaurants</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus urna nec justo suscipit,<br>id congue justo dictum.</p>
</div>
</div>
<div class="col-md-3">
<div class="view-restaurants">
<a href="partners.html" class="m-btn r-btn-link">View Restaurants</a>
</div>
</div>
</div>
</div>
</section>


<footer class="footer">
<div class="subscribe-now line">
<div class="container">
<div class="row justify-content-between">
<div class="col-lg-5 col-md-6">
<div class="subscribe-newsletter">
<div class="sub-text">
<p>Connect with us for update and offers.</p>
</div>
<form>
<input class="input-subscribe" name="newsletter" type="text" placeholder="Enter your email address">
<div class="subscribe-btn">
<div class="s-n-btn">
<button class="newsletter-btn btn-link">Subscribe Now</button>
</div>
</div>
</form>
</div>
</div>
<div class="col-lg-2 col-md-3">
<div class="language">
<form method="post" enctype="multipart/form-data" id="form-language">
<div class="btn-group open">
<button class="lang-btn l-btn-link dropdown-toggle-no-caret" data-toggle="dropdown" aria-expanded="true">
<i class="fas fa-globe"></i><span class="hidden-xs">English</span><i class="fas fa-caret-down"></i>
</button>
<ul class="dropdown-menu">
<li><a href="javascript:;">English</a></li>
<li><a href="javascript:;">Spanish</a></li>
<li><a href="javascript:;">Hindi</a></li>
<li><a href="javascript:;">Punjabi</a></li>
</ul>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<div class="img-title">
<a href="index.html"><img src="images/logo-2.svg" alt=""></a>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum leo at finibus ornare.
Aliquam gravida condimentum neque, vel ultrices purus dignissim a. </p>
</div>
<div class="col-md-3 col-sm-12 col-xs-12">
<div class="link-title">
<h4>About Natto</h4>
<ul class="links">
<li><a href="about.html">About Us</a></li>
<li><a href="#">Careers</a></li>
<li><a href="our_blog.html">Blog</a></li>
<li><a href="#">Developers</a></li>
<li><a href="#">Mobile Apps</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<div class="link-title">
<h4>Business</h4>
<ul class="links">
<li><a href="add_restaurant.html">Add a Restaurant</a></li>
<li><a href="#">Buniess Order Guidelines</a></li>
<li><a href="#">Orders</a></li>
<li><a href="#">Book</a></li>
<li><a href="#">Trace</a></li>
<li><a href="#">Advertise</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
<div class="link-title">
<h4>Partner With Us</h4>
<ul class="links">
<li><a href="add_restaurant.html">For Restaurants</a></li>
<li><a href="add_driver.html">For Driver</a></li>
</ul>
<div class="social-btns">
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-facebook-f"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-twitter"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-instagram"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-linkedin-in"></i></div></a>
<a href="#"><div class="social-btn soc-btn"><i class="fab fa-youtube"></i></div></a>
</div>
</div>
</div>
</div>
</div>
<div class="privacy-cards">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="privacy-terms">
<ul>
<li><a href="#">Privacy</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Sitemap</a></li>
</ul>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="cards">
<img src="images/cards.png" alt="">
</div>
</div>
</div>
</div>
</div>
<div class="copyright">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12">
<div class="copyright-text">
<i class="far fa-copyright"></i>Copyright 2019 <a href="index.html">Natto</a> by Gambol. All Rights Reserved.
</div>
</div>
</div>
</div>
</div>
</footer>


<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<script src="assets/owlcarousel/owl.carousel.js"></script>
<script src="js/owlslider.js"></script>
</body>

<!-- Mirrored from gambolthemes.net/natto-new-demo/upload_recipe.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2020 07:16:00 GMT -->
</html>
