<aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">
    <!-- Logo -->
    <div class="logo-sn ms-d-block-lg">
      <a class="pl-0 ml-0 text-center" href="/admin">
        <img src="../assets/img/costic/costic-logo-216x62.png" alt="logo">
      </a>
    </div>
    <!-- Navigation -->
    <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
        <% if(user){ %> 
        
        <li class="menu-item">
          <a href="/admin/"> <span><i class="fas fa-clipboard-list fs-16"></i>Dashboard</span>
          </a>
        </li>
        
        <li class="menu-item">
          <a href="/admin/profile"> <span><i class="fas fa-clipboard-list fs-16"></i>Profile</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="/admin/editProfile"> <span><i class="fas fa-clipboard-list fs-16"></i>Edit Profile</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="/addProduct"> <span><i class="fas fa-clipboard-list fs-16"></i>Add Product</span>
          </a>
        </li>

        <li class="menu-item">
          <a href="/myProducts"> <span><i class="fas fa-clipboard-list fs-16"></i>My Products</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="/admin/promotionalEmails"> <span><i class="fas fa-clipboard-list fs-16"></i>Promotional Email</span>
          </a>
        </li>

        <li class="menu-item">
          <a href="#" class="has-chevron" data-toggle="collapse" data-target="#product" aria-expanded="false" aria-controls="product"> <span><i class="fa fa-archive fs-16"></i>Orders </span>
          </a>
          <ul id="product" class="collapse" aria-labelledby="product" data-parent="#side-nav-accordion">
            <li> <a href="/admin/currentOrders">Recently Placed Orders</a>
            </li>
            <li> <a href="/admin/onTheWayOrders">Sent For Delivery</a>
            </li>
            <li> <a href="/admin/deliveredOrders"> Order Delivered </a>
            </li>
            <li> <a href="/admin/cancelledOrders"> Cancelled Orders </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="/logout"> <span><i class="fas fa-clipboard-list fs-16"></i>Logout</span>
          </a>
        </li>
        <%}else{ %> 
          <li class="menu-item">
            <a href="/admin"> <span><i class="fas fa-user fs-16"></i>Sign In</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="/admin/signup"> <span><i class="fas fa-user-plus fs-16"></i>Sign Up</span>
            </a>
          </li>  
        <% } %>
        
        
     
    </ul>
  </aside>